/*******************************all*******************************/

* {
    /*font-family: "Noto Sans CJK KR", "Roboto";*/
    font-size: 16px;
    letter-spacing: -0.5px;
}

.right_wrap {
    width: 60%;
}


.recommend_toggle {
    position: absolute;
    width: 102%;
    height: 3vw;
    background-color: rgb(250, 249, 255, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
}

.recommend_search_toggle {
    position: absolute;
    width: 200px;
    height: 3vw;
    background-color: rgb(250, 249, 255, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    margin-left: 30px;
}

@keyframes appear_toggle {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*******************************youtube*******************************/


.recommend_youtube_container {
    /*display: none;*/
}

.right_wrap .recommend_youtube_container {
    width: 98%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 10px 20px 32px;
}


.recommend_youtube_container .recommend_nav {
    font-weight: 700;
    color: #d2d2d2;
    cursor: pointer;
    width: 50%;
}

.recommend_youtube_container .recommend_nav span {
    margin-right: 12px;
}

.recommend_youtube_container .recommend_nav span:first-child {
    color: #7657CE;
}

.recommend_close_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/x_gray.png");
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.recommend_youtube_container .search_bar {
    width: 58vw;
    height: 40px;
    border: 1px solid #A185F2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 24px 0;
    box-sizing: border-box;
    padding: 0 12px;
}

.recommend_youtube_container .search_bar .search_icon {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/search_purple.png");
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.recommend_youtube_container .search_bar input {
    border: none;
    font-size: 14px;
    -webkit-text-fill-color: #A185F2;
    margin-left: 6px;
    width: 100%;
}

.recommend_youtube_container .search_bar input:focus {
    outline: none;
}

.recommend_youtube_container .content_wrap {
    /*overflow-y: auto;*/
    max-height: 660px;
    height: 100%;
}

.recommend_youtube_container .content_wrap::-webkit-scrollbar {
    width: 10px;
}

.recommend_youtube_container .content_wrap::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

.recommend_youtube_container .content_wrap::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}

.recommend_youtube_container .recommend_content {
    position: relative;
    height: auto;
}

.recommend_container_total_toggle {
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: #7556CD;
    color: white;
    left: 90px;
    top: -8px;
    text-align: center;
    border: none;
    font-weight: 700;
    border-radius: 8px;
    padding-bottom: 3px;
    box-sizing: border-box;
    /*z-index: 2;*/
}

.recommend_youtube_container .recommend_content p {
    color: #7657CE;
    font-weight: 700;
}

.recommend_youtube_container .recommend_content .content_section {
    width: 58vw;
    height: 260px;
    overflow-x: auto;
    /*overflow-y: hidden;*/
    box-sizing: border-box;
    margin-top: 24px;
    display: flex;
    /*background-color: gray;*/
}

.recommend_youtube_container .recommend_content .content_section::-webkit-scrollbar {
    height: 12px;
}

.recommend_youtube_container .recommend_content .content_section::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

.recommend_youtube_container .recommend_content .content_section::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}

.recommend_youtube_container .recommend_content .content_section .content_box {
    min-width: 280px;
    width: 100%;
    height: 240px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    margin-right: 10px;
    position: relative;
}

.recommend_youtube_container .recommend_content .content_section .content_box:last-child {
    margin-right: 0;
}

.recommend_youtube_container .recommend_content .content_section .content_box .video_img {
    width: 100%;
    height: 170px;
    background-color: #d2d2d2;
}

.recommend_youtube_container .recommend_content .content_section .content_box .video_title {
    width: 75%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 6px 6px;
    box-sizing: border-box;
}

.recommend_youtube_container .recommend_content .content_section .content_box .video_count {
    font-size: 14px;
    color: #5e5e5e;
    margin-left: 6px;
}

.recommend_youtube_container .recommend_content .content_section .content_box .play_icon {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/play.png");
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 6px;
    bottom: 6px;
}

.recommend_youtube_container .recommend_content .content_section .content_box .more_icon {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/more_deep_purple.png");
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 4px;
    top: 10px;
}

.recommend_youtube_container .recommend_content .content_section .content_box .toggle {
    font-size: 14px;
    background-color: #fff;
    padding: 4px 0;
    box-sizing: border-box;
    max-width: 70px;
    width: 100%;
    position: absolute;
    right: 36px;
    top: 0;
}

.recommend_youtube_container .recommend_content .content_section .content_box .toggle p {
    margin: 6px 0 6px 10px;
    color: #5e5e5e;
    font-weight: 400;
}

.recommend_youtube_container .recommend_content .content_section .content_box .toggle .line {
    background-color: #e5e5e5;
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
}

.recommend_youtube_container .search_content {
    margin-top: 30px;
    /*height: 350px;*/
}

.recommend_youtube_container .search_content p {
    font-weight: 700;
    color: #7657CE;
    margin-bottom: 12px;
}

.recommend_youtube_container .search_content .content_section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 310px;
    overflow-y: auto;
    overflow-x: hidden;
}

.recommend_youtube_container .search_content .content_section::-webkit-scrollbar {
    height: 12px;
}

.recommend_youtube_container .search_content .content_section::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

.recommend_youtube_container .search_content .content_section::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}

.recommend_youtube_container .search_content .content_box {
    width: 18vw;
    height: 240px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    margin-right: 10px;
    margin-bottom: 12px;
    position: relative;
}

.recommend_youtube_container .search_content .content_box:last-child {
    margin-right: 0;
}

.recommend_youtube_container .search_content .content_box .video_img {
    width: 100%;
    height: 175px;
    background-color: #d2d2d2;
}

.recommend_youtube_container .search_content .content_box .video_title {
    width: 75%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 6px 6px;
}

.recommend_youtube_container .search_content .content_box .video_count {
    font-size: 14px;
    color: #5e5e5e;
    margin-left: 6px;
}

.recommend_youtube_container .search_content .content_box .play_icon {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/play.png");
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 6px;
    bottom: 6px;
}

.recommend_youtube_container .search_content .content_box .more_icon {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/more_deep_purple.png");
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 4px;
    top: 10px;
}


/*******************************news*******************************/


.recommend_news_container {
    display: none;

}

.right_wrap {
    width: 100%;
}

.right_wrap .recommend_news_container {
    width: 98%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 10px 20px 32px;
}

.recommend_news_container .recommend_nav {
    font-weight: 700;
    color: #d2d2d2;
}

.recommend_news_container .recommend_nav span {
    margin-right: 12px;
}

.recommend_news_container .recommend_nav span:nth-child(2) {
    color: #7657CE;
}

.recommend_news_container .search_bar {
    width: 58vw;
    height: 40px;
    border: 1px solid #A185F2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 24px 0;
    box-sizing: border-box;
    padding: 0 12px;
}

.recommend_news_container .search_bar .search_icon {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/search_purple.png");
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.recommend_news_container .search_bar input {
    border: none;
    font-size: 14px;
    -webkit-text-fill-color: #A185F2;
    margin-left: 6px;
    width: 100%;
}

.recommend_news_container .search_bar input:focus {
    outline: none;
}

.recommend_news_container .search_news_content {
    overflow-y: auto;
    max-height: 320px;
    height: 100%;
    width: 100%;
}

.recommend_news_container .search_news_content::-webkit-scrollbar {
    height: 12px;
}

.recommend_news_container .search_news_content::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

.recommend_news_container .search_news_content::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}

.recommend_news_container .recommend_news_content {
    position: relative;
}

.recommend_news_container .recommend_news_content .title {
    font-weight: 700;
    color: #7657ce;
}

.recommend_news_container .recommend_news_content .content_news_section {
    width: 100%;
    height: 260px;
    overflow-x: auto;
    /*overflow-y: hidden;*/
    box-sizing: border-box;
    margin-top: 24px;
    display: flex;
    /*background-color: gray;*/
    /*border-radius: 11px;*/
}

.content_news_section {
    flex-direction: column;

}

.recommend_news_container .recommend_news_content .content_news_section::-webkit-scrollbar {
    height: 12px;
}

.recommend_news_container .recommend_news_content .content_news_section::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

.recommend_news_container .recommend_news_content .content_news_section::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}

.recommend_news_container .search_news_content .content_news_section::-webkit-scrollbar {
    height: 12px;
}

.recommend_news_container .search_news_content .content_news_section::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

.recommend_news_container .search_news_content .content_news_section::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}


.recommend_news_container .recommend_news_content .content_news_section .content_box {
    min-width: 280px;
    width: 100%;
    height: 240px;
    box-sizing: border-box;
    margin-right: 10px;
    position: relative;
}

.recommend_news_container .recommend_news_content .content_news_section .content_box:last-child {
    margin-right: 0;
}

.recommend_news_container .recommend_news_content .content_news_section .content_box {
    width: 100%;
    height: 170px;
    background-color: #d2d2d2;
}

.recommend_news_container .recommend_news_content .content_news_section .content_box {
    width: 75%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 6px 6px;
    box-sizing: border-box;
}

.recommend_news_container .recommend_news_content .content_news_section .content_box {
    font-size: 14px;
    color: #5e5e5e;
    margin-left: 6px;
}

.recommend_news_container .recommend_news_content .content_news_section .content_box .play_icon {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/play.png");
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 6px;
    bottom: 6px;
}

.recommend_news_container .recommend_news_content .content_news_section .content_box .more_icon {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/more_deep_purple.png");
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 4px;
    top: 10px;
}

.recommend_news_container .recommend_news_content .content_news_section .content_box .toggle {
    font-size: 14px;
    background-color: #fff;
    padding: 4px 0;
    box-sizing: border-box;
    max-width: 70px;
    width: 100%;
    position: absolute;
    right: 36px;
    top: 0;
}

.recommend_news_container .recommend_news_content .content_news_section .content_box .toggle p {
    margin: 6px 0 6px 10px;
    color: #5e5e5e;
    font-weight: 400;
}

.recommend_news_container .recommend_news_content .content_news_section .content_box .toggle .line {
    background-color: #e5e5e5;
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
}

.recommend_news_container .search_news_content {
    width: 100%;
    margin-top: 40px;
}

.recommend_news_container .search_news_content .title {
    font-weight: 700;
    color: #7657CE;
    margin-top: 10px;
}

.recommend_news_container .search_news_content .search_news_section {
    display: flex;
    flex-direction: column;
    width: 99%;
    height: 100%;
    /*overflow-x: auto;*/
    margin-top: 24px;
    box-sizing: border-box;
}

.recommend_news_container .search_news_content .content_box {
    width: 310px;
    height: 240px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    margin-right: 14px;
    margin-bottom: 12px;
    position: relative;
}

.recommend_news_container .search_news_content .content_box:last-child {
    margin-right: 0;
}

.recommend_news_container .search_news_content .content_box {
    width: 100%;
    height: 175px;
    background-color: #d2d2d2;
}

.recommend_news_container .search_news_content .content_box {
    width: 75%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 6px 6px;
}

.recommend_news_container .search_news_content .content_box {
    font-size: 14px;
    color: #5e5e5e;
    margin-left: 6px;
}

.recommend_news_container .search_news_content .content_box .play_icon {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/play.png");
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 6px;
    bottom: 6px;
}

.recommend_news_container .search_news_content .content_box .more_icon {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/more_deep_purple.png");
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 4px;
    top: 10px;
}

.profile_like_heart {
    position: absolute;
    top: 50px;
    left: 14.5vw;
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/heart.png");
    background-size: contain;
    width: 40px;
    height: 40px;
}

.profile_like_news {
    margin-top: 40px;
    width: 53vw;
    height: 100%;
    position: relative;
    /*display: none;*/
}

.profile_like_news li {
    width: 95%;
    height: 10vw;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.profile_like_news_image {
    background-color: #B7B7B7;
    width: 11vw;
    height: 11vw;
}

.profile_like_news_info {
    width: 30vw;
}

.profile_like_news_title {
    font-size: 20px;
    width: 30vw;
    font-weight: bold;
    margin-bottom: 5px;
}

.profile_like_news_content {
    margin-bottom: 12px;
}

.profile_like_news_button {
    padding-top: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.profile_like_news_setting {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/more_deep_purple.png");
    background-size: contain;
    width: 40px;
    height: 40px;
}

.recommend_like_heart {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/empty_heart.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    object-fit: cover;
}

.recommend_youtube_like_heart {
    position: absolute;
    right: 4px;
    bottom: 4px;
}

.search_youtube_like_heart {
    position: absolute;
    right: 4px;
    bottom: 4px;
}

.profile_like_news_heart:hover {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/heart.png");
}

.profile_like_news_toggle {
    position: static;
    width: 24px;
    height: 24px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.profile_like_news_toggle:hover {
    filter: opacity(0.7) drop-shadow(0 0 0 #ffffff);
}

.profile_like_news_toggle img {
    width: 100%;
    height: 100%;
}


.recommend_news_search_content {
    position: relative;
    width: 100%;
    height: 12vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #5e5e5e;
}

.recommend_news_search_content_image {
    width: 14vw;
    height: 10vw;
    background-color: #fafafa;
    object-fit: contain;
    object-position: center;
}

.recommend_news_search_content_image img {
    width: 100%;
    height: 100%;
}

.recommend_news_search_content_desc {
    width: 30vw;
    height: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    color: #5e5e5e;
}

.recommend_news_search_content_desc_title {
    width: 30vw;
    height: auto;
    overflow: hidden;
    font-weight: 700;
    margin-bottom: 30px;
}

.recommend_news_search_content_desc_title p {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 22px;
}

.recommend_news_search_content_desc_detail {
    width: 30vw;
    height: auto;
    overflow: hidden;
    color: #191919;
}

.recommend_news_search_content_desc_footer {
    width: 30vw;
    height: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #5e5e5e;
    margin-top: 50px;
}

.recommend_news_search_content_desc_footer_newspaper {
    width: 30%;
    height: 100%;
    text-align: left;
}

.recommend_news_search_content_desc_footer_time {
    width: 30%;
    height: 100%;
    text-align: right;
}

.recommend_news_search_content_more {
    width: 4vw;
    height: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/*******************************book*******************************/


.recommend_book_container {
    display: none;
}

.right_wrap {
    width: 60%;
    position: relative;
}

.right_wrap .recommend_book_container {
    width: 98%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 10px 20px 32px;
}

.recommend_book_container .recommend_nav {
    font-weight: 700;
    color: #d2d2d2;
}

.recommend_book_container .recommend_nav span {
    margin-right: 12px;
}

.recommend_book_container .recommend_nav span:nth-child(3) {
    color: #7657CE;
}

.recommend_book_container .search_bar {
    width: 58vw;
    height: 40px;
    border: 1px solid #A185F2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 24px 0;
    box-sizing: border-box;
    padding: 0 12px;
}

.recommend_book_container .search_bar .search_icon {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/search_purple.png");
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.recommend_book_container .search_bar input {
    border: none;
    font-size: 14px;
    -webkit-text-fill-color: #A185F2;
    margin-left: 6px;
    width: 100%;
}

.recommend_book_container .search_bar input:focus {
    outline: none;
}

.recommend_book_container .content_book_wrap {
    overflow-y: auto;
    max-height: 660px;
    height: 100%;
}

.recommend_book_container .content_book_wrap::-webkit-scrollbar {
    width: 10px;
}

.recommend_book_container .content_book_wrap::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

.recommend_book_container .content_book_wrap::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}

.recommend_book_container .recommend_book_content {
    position: relative;
}

.recommend_book_container .recommend_book_content p {
    font-weight: 700;
    color: #7657CE;
}

.recommend_book_container .recommend_book_content .content_book_section {
    width: 58vw;
    height: 300px;
    overflow-x: auto;
    overflow-y: scroll;
    box-sizing: border-box;
    margin-top: 24px;
    display: flex;
    /*background-color: gray;*/
}

.recommend_book_container .search_book_content .content_book_section::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.recommend_book_container .search_book_content .content_book_section::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

.recommend_book_container .search_book_content .content_book_section::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}

.recommend_book_container .recommend_book_content .content_book_section::-webkit-scrollbar {
    height: 12px;
}

.recommend_book_container .recommend_book_content .content_book_section::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

.recommend_book_container .recommend_book_content .content_book_section::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}

.recommend_book_toggle {
    top: 0;
    background-color: rgba(250, 249, 255, .8);
}

.recommend_search_book_toggle {
    top: 0;
    background-color: rgba(250, 249, 255, 1);
}

.recommend_book_container .recommend_book_content .content_book_section .content_box:last-child {
    margin-right: 0;
}

.recommend_book_container .recommend_book_content .content_book_section .content_box .book_img {
    width: 12vw;
    height: 16vw;
    background-color: #ffffff;
    background-image: url('https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/book_sample1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.recommend_book_container .recommend_book_content .content_book_section .content_box {
    min-width: 185px;
    width: 75%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 6px 8px;
    box-sizing: border-box;
    /*border: min(1vw, 3px) solid #7556CD;*/
    background-color: #eaeaea;
    position: relative;
}

.recommend_book_container .recommend_book_content .content_book_section .content_box {
    font-size: 14px;
    color: #5e5e5e;
    margin-left: 6px;
}

.recommend_book_desc {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.recommend_book_desc .title {

}

.recommend_book_desc p {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
}

.recommend_book_desc_title, .recommend_book_desc_series, .recommend_book_desc_company, .recommend_book_desc_author, .recommend_book_desc_price {
    width: 100%;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: center;
}

.recommend_book_desc_title .category,
.recommend_book_desc_series .category,
.recommend_book_desc_company .category,
.recommend_book_desc_author .category,
.recommend_book_desc_price .category {
    color: #191919;
    margin-right: 30px;
    width: 50px;
}

.recommend_book_desc p:nth-child(2) {
    width: 70%;
    font-weight: 400;
    overflow: hidden;
}


.recommend_book_container .recommend_book_content .content_book_section .content_box .more_icon {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/more_deep_purple.png");
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 4px;
    top: 10px;
}

.recommend_book_container .recommend_book_content .content_book_section .content_box .toggle {
    font-size: 14px;
    background-color: #fff;
    padding: 4px 0;
    box-sizing: border-box;
    max-width: 70px;
    width: 100%;
    position: absolute;
    right: 36px;
    top: 0;
}

.recommend_book_container .recommend_book_content .content_book_section .content_box .toggle p {
    margin: 6px 0 6px 10px;
    color: #5e5e5e;
    font-weight: 400;
}

.recommend_book_container .recommend_book_content .content_book_section .content_box .toggle .line {
    background-color: #e5e5e5;
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
}

.recommend_book_container .search_book_content {
    margin-top: 30px;
}

.recommend_book_container .search_book_content .title {
    font-weight: 700;
    color: #7657CE;
    margin-bottom: 12px;
}

.recommend_book_container .search_book_content .content_book_section {
    display: block;
    flex-wrap: wrap;
    width: 100%;
    height: 260px;
    overflow-x: auto;
    overflow-y: scroll;
    box-sizing: border-box;
    margin-top: 24px;
}


.recommend_book_container .search_book_content .content_box:last-child {
    margin-right: 0;
}

.recommend_book_container .search_book_content .content_box .book_img {
    width: 200px;
    height: 240px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 40px;
}


.recommend_book_container .search_book_content .content_box {
    position: relative;
    width: 48vw;
    height: 260px;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: left;
    /*margin: 5px 0 50px 35px;*/
    color: #5e5e5e;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: center;
}

.recommend_book_container .search_book_content .content_box .more_icon {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/more_deep_purple.png");
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 4px;
    top: 10px;
}

.search_book_content_part {
    font-size: 16px;
    color: #5e5e5e;
    position: absolute;
    top: 15px;
    left: 200px;
}

.book_title {
    padding-top: 15px;
}

.book_write {
    margin-top: 30px;
}

.book_price {
    margin-top: 30px;
}


/*******************************shopping*******************************/


.recommend_shopping_container {
    display: none;
}

.right_wrap {
    width: 60%;
}

.right_wrap .recommend_shopping_container {
    width: 98%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 10px 20px 32px;
}

.recommend_shopping_container .recommend_nav {
    font-weight: 700;
    color: #d2d2d2;
}

.recommend_shopping_container .recommend_nav span {
    margin-right: 12px;
}

.recommend_shopping_container .recommend_nav span:last-child {
    color: #7657CE;
}

.recommend_shopping_container .search_bar {
    width: 58vw;
    height: 40px;
    border: 1px solid #A185F2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 24px 0;
    box-sizing: border-box;
    padding: 0 12px;
}

.recommend_shopping_container .search_bar .search_icon {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/search_purple.png");
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.recommend_shopping_container .search_bar input {
    border: none;
    font-size: 14px;
    -webkit-text-fill-color: #A185F2;
    margin-left: 6px;
    width: 100%;
}

.recommend_shopping_container .search_bar input:focus {
    outline: none;
}

.recommend_shopping_container .content_wrap {
    /*overflow-y: auto;*/
    max-height: 660px;
    height: 100%;
}

.recommend_shopping_container .content_wrap::-webkit-scrollbar {
    width: 10px;
}

.recommend_shopping_container .content_wrap::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

.recommend_shopping_container .content_wrap::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}

.recommend_shopping_container .recommend_content {
    position: relative;
}

.recommend_shopping_container .recommend_content .title {
    font-weight: 700;
    color: #7657CE;
    margin-bottom: 12px;
}

.recommend_shopping_search_content_desc_title .product {
    color: #5e5e5e;
    margin: 12px 0 20px;
}

.recommend_shopping_search_content_desc_price .price {
    font-size: 18px;
    color: #191919;
    font-weight: 700;
}

.recommend_shopping_container .recommend_content .content_section {
    width: 58vw;
    height: 290px;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    margin-top: 24px;
    display: flex;
    /*background-color: gray;*/
}

.recommend_shopping_container .recommend_content .content_section::-webkit-scrollbar {
    height: 12px;
}

.recommend_shopping_container .recommend_content .content_section::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

.recommend_shopping_container .recommend_content .content_section::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}

.recommend_shopping_container .recommend_content .content_section .content_box {
    min-width: 305px;
    width: 100%;
    height: 240px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    margin-right: 10px;
    position: relative;
}

.recommend_shopping_container .recommend_content .content_section .content_box:last-child {
    margin-right: 0;
}

.recommend_shopping_container .recommend_content .content_section .content_box .shopping_img {
    width: 100%;
    height: 100%;
    background-color: #d2d2d2;
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/shopping_sample1.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.recommend_shopping_container .recommend_content .content_section .content_box {
    width: 75%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 30px 6px;
    box-sizing: border-box;
}

.recommend_shopping_container .recommend_content .content_section .content_box {
    font-size: 14px;
    color: #5e5e5e;
    margin-left: 6px;
}


.recommend_shopping_container .recommend_content .content_section .content_box .more_icon {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/more_deep_purple.png");
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 4px;
    top: 10px;
}

.recommend_shopping_container .recommend_content .content_section .content_box .toggle {
    font-size: 14px;
    background-color: #fff;
    padding: 4px 0;
    box-sizing: border-box;
    max-width: 70px;
    width: 100%;
    position: absolute;
    right: 36px;
    top: 0;
}

.recommend_shopping_container .recommend_content .content_section .content_box .toggle p {
    margin: 6px 0 6px 10px;
    color: #5e5e5e;
    font-weight: 400;
}

.recommend_shopping_container .recommend_content .content_section .content_box .toggle .line {
    background-color: #e5e5e5;
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
}

.recommend_shopping_container .search_content {
    margin-top: 30px;
}

.recommend_shopping_container .search_content .title {
    font-weight: 700;
    color: #7657CE;
    margin-bottom: 12px;
}


.recommend_shopping_container .search_content .content_section {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    overflow-x: auto;
    overflow-y: hidden;
    width: 58vw;
    height: 290px;
}

.recommend_shopping_container .search_content .content_box {
    width: 310px;
    height: 240px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    margin-right: 14px;
    margin-bottom: 12px;
    position: relative;
}

.recommend_shopping_container .search_content .content_section::-webkit-scrollbar {
    height: 12px;
}

.recommend_shopping_container .search_content .content_section::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

.recommend_shopping_container .search_content .content_section::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}


.recommend_shopping_container .search_content .content_box:last-child {
    margin-right: 0;
}

.recommend_shopping_container .search_content .content_box .shopping_img {
    width: 100%;
    height: 240px;
}

.recommend_shopping_container .search_content .content_box {
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 6px 6px;
}

.recommend_shopping_container .search_content .content_box {
    font-size: 16px;
    color: #5e5e5e;
    margin: 10px 0 0 6px;
}

.recommend_shopping_container .search_content .content_box {
    width: 400px;
    height: 240px;
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/shopping_sample2.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: left;
    margin: 5px 0 50px 35px;
    color: #5e5e5e;

}

.recommend_shopping_container .search_content .content_box .more_icon {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/more_deep_purple.png");
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 4px;
    top: 10px;
}

.recommend_content_part {
    font-size: 16px;
    color: #5e5e5e;
    position: absolute;
    top: 30px;
    left: 210px;

}

.search_content_part {
    font-size: 16px;
    color: #5e5e5e;
    position: absolute;
    top: 15px;
    left: 250px;
}

.shopping_title {
    padding-top: 15px;
}

.shopping_write {
    margin-top: 30px;
}

.shopping_price {
    margin-top: 30px;
}

/* shopping 컨텐츠 수정 - JS */

.recommend_shopping_search_row {
    width: 100%;
    height: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.recommend_shopping_search_content {
    position: relative;
    width: 240px;
    height: 340px;
    margin-right: 24px;
    /*border: 1px solid #e5e5e5;*/
    /*margin: 1vw;*/
}

.recommend_shopping_search_content .more_icon {
    width: 3vw;
    height: 3vw;
    left: 15vw;
    position: absolute;
    background-image: url('https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/list_black.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}


.recommend_shopping_search_content .toggle {
    position: absolute;
    left: 11vw;
    top: 3vw;
    width: 6vw;
    background-color: white;
    border: min(1vw, 2px) solid #7556CD;
    text-align: center;
}

.recommend_shopping_search_content .toggle_row {
    width: 100%;
    height: 3vw;
    background: white;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.recommend_shopping_search_content .toggle_row:hover {
    background-color: #dad2fa;
    color: white;
}

.recommend_shopping_search_content_img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.recommend_shopping_search_content_img img {
    width: 100%;
    height: 100%;
}

.recommend_shopping_search_content_desc {
    width: 90%;
    height: 8vw;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*margin: 1vw auto 0;*/
}

/*.recommend_shopping_search_content_desc_bar {*/
/*    margin-top: 1vw;*/
/*    width: 90%;*/
/*    height: 2px;*/
/*    background-color: #7556CD;*/
/*}*/

.recommend_shopping_search_content_desc_title {
    text-align: left;
    width: 100%;
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 6px;
}

.recommend_shopping_search_content_desc_title p {
    margin: 0 auto;
}

.recommend_shopping_search_content_desc_price {
    text-align: left;
    width: 100%;
    height: 3vw;

}

.recommend_shopping_search_content_desc_price p {
    font-size: 2vw;
    color: #ae0000;
    font-weight: 800;
    margin: 0 auto;
}


/******      spinner        ******/

.recommend_spinner {
    width: 50vw;
    height: 240px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.recommend_spinner_lorder {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    border: 8px solid transparent;
    border-top-color: #A185F2;
    border-bottom-color: #A185F2;
    animation: rotation 1s ease infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}