<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="profile_like_container" id="profile_like_container">
            {% if participant1.id == user.id %}
                <div class="partner_info">
                    <div class="partner_img"></div>
                    <div class="info_group">
                        <div class="partner_name">{{ participant2.nickname }}</div>
                        <div class="partner_id">{{ participant2.email }}</div>
                    </div>
                    <div class="partner_bio">{{ participant2.bio }}</div>
                </div>
                {% else %}
                <div class="partner_info">
                    <div class="partner_img"></div>
                    <div class="info_group">
                        <div class="partner_name">{{ participant1.nickname }}</div>
                        <div class="partner_id">{{ participant1.email }}</div>
                    </div>
                    <div class="partner_bio">{{ participant1.bio }}</div>
                </div>
            {% endif %}
            <div class="profile_like_category">
                <span id="youtube" onclick="youtube_like()">YOUTUBE</span>
                <span id="news" onclick="news_like()">NEWS</span>
                <span id="book" onclick="book_like()">BOOK</span>
                <span id="shopping" onclick="shopping_like()">SHOPPING</span>
            </div>
            <div class="profile_like_youtube" id="profile_like_youtube">
                <div class="profile_like_grid">
                    <div class="profile_like_youtube_container">
                        {% for youtube in participant1_like_youtube %}
                        <div class="content_box" >
                            <iframe class="video_img" src="{{youtube.url}}" title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>ㅇ
                            </iframe>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>

            <div class="profile_like_news" id="profile_like_news">
                {% for news in participant1_like_news %}
                <div class="recommend_news_search_content">
                    <div class="recommend_news_search_content_image">
                        <a href={{ news.link }} target="_blank">
                            <img src={{ news.thumbnail }}>
                        </a>
                    </div>
                    <div class="recommend_news_search_content_desc">
                        <div class="recommend_news_search_content_desc_title">
                            <p>{{ news.title }}</p>
                        </div>
                        <div class="recommend_news_search_content_desc_detail">
                            <p>{{ news.content }}</p>
                        </div>
                        <div class="recommend_news_search_content_desc_footer">
                            <div class="recommend_news_search_content_desc_footer_newspaper">
                                <p>{{ news.company }}</p>
                            </div>
                            <div class="recommend_news_search_content_desc_footer_time">
                                <p>{{ news.date }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="profile_like_book" id="profile_like_book">
                <div class="profile_like_book_grid">
                    {% for book in participant1_like_book %}
                    <div class="content_box">
                        <div class="recommend_book_desc">
                            <div class="recommend_book_desc_row">
                                <p>title</p>
                                <p>{{ book.title }}</p>
                            </div>
                            <div class="recommend_book_desc_row">
                                <p>series</p>
                                <p>${book_row[3]}</p>
                            </div>
                            <div class="recommend_book_desc_row">
                                <p>Author</p>
                                <p>{{ book.author }}</p>
                                <p>{{ book.company }}</p>
                            </div>
                            <div class="recommend_book_desc_row">
                                <p>Price</p>
                                <p></p>
                            </div>
                        </div>
                        <a href={{ book.link }} target="_blank">
                            <div class="book_img" style="background-image: url({{ book.thumbnail }})"></div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="profile_like_shopping" id="profile_like_shopping">
                <div class="profile_like_shopping_grid">
                    {% for shopping in participant1_like_shopping %}
                    <div class="recommend_shopping_search_content">
                        <a href={{ shopping.link }} target="_blank">
                            <div class="recommend_shopping_search_content_img">
                                <img src={{ shopping.thumbnail }}>
                            </div>
                        </a>
                        <div class="recommend_shopping_search_content_desc">
                            <div class="recommend_shopping_search_content_desc_bar"></div>
                            <div class="recommend_shopping_search_content_desc_title">
                                <p>${shopping_row[1]}</p>
                            </div>
                            <div class="recommend_shopping_search_content_desc_price">
                                <p>{{ shopping.price }} 원</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</body>
</html>