<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- reset css cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <!-- jQuery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/css/accounts/user_list.css">
</head>
<body>
<div class="outline">
    <div class="nav">
        <div class="logo">
            <div class="logo_img"></div>
        </div>
        <div class="icon_group">
            <div class="icon user_icon"></div>
            <div class="icon chat_icon"></div>
            <div class="icon mypage_icon"></div>
        </div>
    </div>
    <div class="left_wrap">
        <p class="title">유저 리스트</p>
        <div class="search_bar">
            <div class="search_icon"></div>
            <input type="text" placeholder="유저를 검색하여 대화를 시작해보세요.">
        </div>
        <div class="user_list">
            <div class="user_box">
                <div class="user_img"></div>
                <div class="info_group">
                    <div class="user_name">양금성</div>
                    <div class="user_id">geumsung@example.com</div>
                </div>
                <div class="btn apply_follow">친구신청</div>
            </div>
            <div class="user_box">
                <div class="user_img"></div>
                <div class="info_group">
                    <div class="user_name">양금성</div>
                    <div class="id">1</div>
                    <div class="user_id">geumsung@example.com</div>
                </div>
                <div class="btn start_chat">채팅하기</div>
            </div>
            <div class="user_box">
                <div class="user_img"></div>
                <div class="info_group">
                    <div class="user_name">양금성</div>
                    <div class="user_id">geumsung@example.com</div>
                </div>
                <div class="btn apply_follow">친구신청</div>
            </div>
            <div class="user_box">
                <div class="user_img"></div>
                <div class="info_group">
                    <div class="user_name">양금성</div>
                    <div class="user_id">geumsung@example.com</div>
                </div>
                <div class="btn apply_follow">친구신청</div>
            </div>
            <div class="user_box">
                <div class="user_img"></div>
                <div class="info_group">
                    <div class="user_name">양금성</div>
                    <div class="user_id">geumsung@example.com</div>
                </div>
                <div class="btn apply_follow">친구신청</div>
            </div>
            <div class="user_box">
                <div class="user_img"></div>
                <div class="info_group">
                    <div class="user_name">양금성</div>
                    <div class="user_id">geumsung@example.com</div>
                </div>
                <div class="btn apply_follow">친구신청</div>
            </div>
            <div class="user_box">
                <div class="user_img"></div>
                <div class="info_group">
                    <div class="user_name">양금성</div>
                    <div class="user_id">geumsung@example.com</div>
                </div>
                <div class="btn apply_follow">친구신청</div>
            </div>
            <div class="user_box">
                <div class="user_img"></div>
                <div class="info_group">
                    <div class="user_name">양금성</div>
                    <div class="user_id">geumsung@example.com</div>
                </div>
                <div class="btn start_chat">채팅하기</div>
            </div>
            <div class="user_box">
                <div class="user_img"></div>
                <div class="info_group">
                    <div class="user_name">양금성</div>
                    <div class="user_id">geumsung@example.com</div>
                </div>
                <div class="btn start_chat">채팅하기</div>
            </div>
            <div class="user_box">
                <div class="user_img"></div>
                <div class="info_group">
                    <div class="user_name">양금성</div>
                    <div class="user_id">geumsung@example.com</div>
                </div>
                <div class="btn start_chat">채팅하기</div>
            </div>
            <div class="user_box">
                <div class="user_img"></div>
                <div class="info_group">
                    <div class="user_name">양금성</div>
                    <div class="user_id">geumsung@example.com</div>
                </div>
                <div class="btn start_chat">채팅하기</div>
            </div>
        </div>

    </div>

    <div class="right_wrap">
        <div class="chat_start_msg">
            <div class="chat_start_img"></div>
            <p>상대방이 친구신청을 수락하면 대화를 시작할 수 있어요.</p>
        </div>
    </div>
</div>
<script>
    {#$(".start_chat").onclick = function () {#}
    {#    let roomId = $('')#}
    {#}#}
</script>
</body>
</html>