* {
    font-family: "Noto Sans KR", "Roboto";
    font-size: 16px;
    letter-spacing: -0.5px;
}
body {
    margin: 0 auto;
}
.outline {
    margin: 20px auto 0;
    display: flex;
    border: 4px solid #A185F2;
    border-radius: 20px;
    max-width: 100vw;
    width: 96%;
    height: 820px;
}
.nav {
    background-color: #fff;
    width: 90px;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 4px 0px 10px 3px rgba(0, 0, 0, .1);
    z-index: 1;
}
.nav .logo {
    height: 70px;
    padding-top: 20px;
}
.nav .logo .logo_img {
    height: 100%;
    background-image: url("../../images/logo_vertical.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.nav .icon_group {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav .icon_group .icon {
    width: 36px;
    height: 36px;
    margin-bottom: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.nav .icon_group .icon.user_icon {
    background-image: url("../../images/user_outline.png");
}
.nav .icon_group .icon.chat_icon {
    background-image: url("../../images/chat.png");
}
.nav .icon_group .icon.mypage_icon {
    background-image: url("../../images/mypage_outline.png");
}
.left_wrap {
    max-width: 600px;
    width: 100%;
    height: 100%;
    background-color: #FAF9FF;
    border-right: 1px solid #efefef;
}
.left_wrap p{
    font-size: 18px;
    color: #5e5e5e;
    font-weight: 500;
    /* 수정 - js*/
    /*padding: 24px 0 24px 24px;*/
    padding: 0 0 0 24px;
    box-sizing: border-box;
}
.left_wrap .chat_list {
    width: 100%;
    height: 92%;
    box-sizing: border-box;
    overflow-y: auto;
}
.left_wrap .chat_list::-webkit-scrollbar {
    width: 10px;
}

.left_wrap .chat_list::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

.left_wrap .chat_list::-webkit-scrollbar-track {
    background-color: #FAF9FF;
    border-radius: 2px;

}
.left_wrap .chat_list a {
    text-decoration: none;
}
.left_wrap .chat_list .chat_partner {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
}

.chat_list .chat_partner .partner_img {
    width: 56px;
    height: 56px;
    background-color: #7657CE;
    border-radius: 50%;
    margin-left: 24px;
}
.chat_list .chat_partner .info_group {
    margin-left: 12px;
}
.chat_list .chat_partner .info_group .partner_name {
    font-weight: 500;
}
.chat_list .chat_partner .info_group .partner_last_msg {
    font-size: 14px;
    color: #5e5e5e;
    margin-top: 6px;
    max-width: 450px;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.right_wrap {
    width: 60%;
}
.right_wrap .chat_start_msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #5e5e5e;
    display: none;
}
.right_wrap .chat_start_msg .chat_start_img {
    background-image: url("../../images/chat_start.png");
    width: 300px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: .5;
}
.right_wrap .chat_container {
    position: static;
}

.right_wrap .chat_container .top_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #A185F2;
    position: relative;
    top: 0;
    border-top-right-radius: 14px;

}

.right_wrap .chat_container .top_bar .partner_info {
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.right_wrap .chat_container .top_bar .partner_info .partner_img {
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
}

.right_wrap .chat_container .top_bar .partner_info .info_group {
    color: #fff;
    margin-left: 10px;
}

.right_wrap .chat_container .top_bar .partner_info .info_group .partner_name {

}

.right_wrap .chat_container .top_bar .partner_info .info_group .partner_id {
    opacity: .4;
    font-size: 14px;
    margin-top: 4px;
}

.right_wrap .chat_container .top_bar .toggle_icon {
    background-image: url("../../images/list_white.png");
    width: 46px;
    height: 46px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 12px;
    cursor: pointer;
}

.right_wrap .chat_container .top_bar .toggle_content {
    /*display: none;*/
    font-size: 14px;
    color: #5e5e5e;
    background-color: #fff;
    padding: 4px 0;
    box-sizing: border-box;
    max-width: 120px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 60px;
    cursor: pointer;
}

.right_wrap .chat_container .top_bar .toggle_content p {
    margin: 12px 0px 6px 10px;
}

.right_wrap .chat_container .top_bar .toggle_content .line {
    background-color: #e5e5e5;
    width: 100%;
    height: 1px;
}

.right_wrap .chat_container .input_bar {
    width: 100%;
    height: 60px;
    background-color: #7657CE;
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 16px;
}

.right_wrap .chat_container .input_bar .attach_icon {
    background-image: url("../../images/send_white.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 42px;
    height: 42px;
    margin-left: 12px;
}

.right_wrap .chat_container .input_bar input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    margin: 0 12px;
    padding: 12px;
    box-sizing: border-box;
    color: #e5e5e5;
    font-size: 14px;
}

.right_wrap .chat_container .chat_box {
    display: flex;
    flex-direction: column;
    padding: 12px 16px 12px 10px;
    box-sizing: border-box;
    height: 700px;
    overflow-y: auto;
}

.right_wrap .chat_container .chat_box::-webkit-scrollbar {
    width: 10px;
}

.right_wrap .chat_container .chat_box::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px #A185F2;
}

.right_wrap .chat_container .chat_box::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}

.right_wrap .chat_container .chat_box .user_to_partner {
    align-self: flex-end;
    max-width: 520px;
    width: auto;
    padding: 10px 10px;
    box-sizing: border-box;
    background-color: #A185F2;
    color: #fff;
    border-radius: 10px 0 10px 10px;
    margin-bottom: 6px;
    margin-right: -6px;
}

.right_wrap .chat_container .chat_box .partner_to_user {
    align-self: flex-start;
    max-width: 520px;
    width: auto;
    padding: 10px 10px;
    box-sizing: border-box;
    background-color: #fafafa;
    color: #5e5e5e;
    border-radius: 0 10px 10px 10px;
    margin-bottom: 6px;
}