
.friends_like_container .friends_like_info {
    /*display: flex;*/
    /*align-items: center;*/
    /*margin-left: 12px;*/
}

.friends_like_container .friends_like_close_btn {
    position: absolute;
    top: 20px;
    right: 40px;
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/x_gray.png");
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.friends_like_img {
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
}

.friends_like_info_group {
    /*margin-left: 10px;*/
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #5e5e5e
}

.friends_like_info_group .friends_like_name {
    margin-right: 6px;
    font-weight: 700;
}

.friends_like_id {
    opacity: .4;
    font-size: 14px;
    margin-top: 4px;
}


/*유튜브 친구 찜 목록*/
.friends_like_youtube {
    margin-top: 30px;
    width: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 680px;
    /*display: none;*/
}

.friends_like_youtube::-webkit-scrollbar {
    height: 12px;
}

.friends_like_youtube::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

.friends_like_youtube::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}

.friends_like_youtube_grid {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
}

.friends_like_container {
    position: relative;
    width: 100%;
    padding-top: 25px;
    padding-left: 25px;
    display: none;
}


.friends_like_category {
    margin-top: 25px;
    font-weight: 700;
    color: #d2d2d2;
}

.friends_like_category span {
    margin-right: 12px;
    cursor: pointer;
}

.friends_like_category span:first-child {
    color: #7657CE;
}

.friends_like_youtube_content_box {
    width: 300px;
    height: 240px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    margin-right: 18px;
    margin-bottom: 12px;
    position: relative;
}

.friends_like_youtube_content_box:last-child {
    margin-right: 0;
}

.friends_like_youtube_content_box .video_img {
    width: 100%;
    height: 175px;
    background-color: #d2d2d2;
}

.friends_like_youtube_content_box .video_title {
    width: 75%;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 6px 6px;
}

.friends_like_youtube_content_box .video_count {
    font-size: 14px;
    color: #5e5e5e;
    margin-left: 6px;
}


/*뉴스 친구 찜 목록*/
.friends_like_news {
    margin-top: 30px;
    width: 95%;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 680px;
}

.friends_like_news::-webkit-scrollbar {
    height: 12px;
}

.friends_like_news::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

.friends_like_news::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}

.friends_like_news_content {
    position: relative;
    width: 100%;
    height: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 12px;
}

.friends_like_news_content p {
    color: #5e5e5e;
}

.friends_like_news_content_image {
    width: 14vw;
    height: 10vw;
    background-color: #3D3D3D;
    /*object-fit: contain;*/
    /*object-position: center;*/
    /*border: min(2vw, 2px) solid #7556CD;*/
}

.friends_like_news_content_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.friends_like_news_content_desc {
    width: 90%;
    height: 10vw;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    margin-left: 24px;


}

.friends_like_news_content_desc_title {
    width: 90%;
    margin-bottom: 32px;

}

.friends_like_news_content_desc_title p {
    width: 100%;
    /*height: 80%;*/
    /*overflow: hidden;*/
    color: #5e5e5e;
    font-size: 22px;
    font-weight: 700;
}

.friends_like_news_content_desc_detail {
    width: 90%;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.friends_like_news_content_desc_footer {
    width: 90%;
    /*height: 2vw;*/
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.friends_like_news_content_desc_footer_newspaper {
    width: 30%;
    height: 100%;
    text-align: left;
}

.friends_like_news_content_desc_footer_time {
    width: 30%;
    height: 100%;
    text-align: right;
}


/*책 찜목록*/

.friends_like_book {
    margin-top: 30px;
    width: 95%;
    /*height: 88%;*/
    position: relative;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 660px;
}

.friends_like_book::-webkit-scrollbar {
    height: 12px;
}

.friends_like_book::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

.friends_like_book::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}

.friends_like_book_content_box:last-child {
    margin-right: 0;
}

.friends_like_book_content_box .book_img {
    width: 15vw;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.friends_like_book_content_box {
    position: relative;
    width: 95%;
    height: 200px;
    /*background-position: left;*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    text-align: left;
    margin-bottom: 24px;
    /*font-weight: 700;*/
    color: #5e5e5e;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    /*align-items: center;*/

}


.friends_like_book_desc {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    /*justify-content: space-between;*/
    /*align-items: start;*/
}

.friends_like_book_desc p {
    /*width: 20%;*/
    /*font-size: 1vw;*/
    /*font-size: 16px;*/
}

.friends_like_book_desc_title,
.friends_like_book_desc_series,
.friends_like_book_desc_company,
.friends_like_book_desc_author,
.friends_like_book_desc_price {
    width: 100%;
    /*height: 4vw;*/
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-bottom: 12px;
    /*justify-content: space-between;*/
    /*align-items: center;*/
}

.friends_like_book_desc_title .category,
.friends_like_book_desc_series .category,
.friends_like_book_desc_company .category,
.friends_like_book_desc_author .category,
.friends_like_book_desc_price .category {
    width: 100px;
    font-weight: 700;
    color: #191919;
}


/*.friends_like_book_desc_title {*/
/*    height: 5vw*/
/*}*/

.friends_like_book_desc_title p:nth-child(2) {
    width: 100%;
    /*font-size: 1.5vw;*/
    overflow: hidden;

}

.friends_like_book_desc_series p:nth-child(2) {
    width: 100%;
    /*font-size: 1.5vw;*/
    overflow: hidden;

}

.friends_like_book_desc_company p:nth-child(2) {
    width: 100%;
    /*font-size: 1.5vw;*/
    overflow: hidden;

}

.friends_like_book_desc_author p:nth-child(2) {
    width: 100%;
    /*font-size: 1.5vw;*/
    overflow: hidden;

}

.friends_like_book_desc_price p:nth-child(2) {
    width: 100%;
    /*font-size: 1.5vw;*/
    overflow: hidden;

}

/*친구 찜 목록 쇼핑*/

.friends_like_shopping {
    margin-top: 30px;
    width: 95%;
    position: relative;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 680px;
    /*font-weight: 700;*/
    color: #5e5e5e;
}
.friends_like_shopping::-webkit-scrollbar {
    height: 12px;
}

.friends_like_shopping::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

.friends_like_shopping::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}

.friends_like_shopping_grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /*display: grid;*/
    /*grid-template-columns: repeat(2, 1fr);*/
}


.friends_like_shopping_content {
    position: relative;
    width: 200px;
    height: 270px;
    margin-right: 40px;
    /*border: 0.5vw solid #7556CD;*/
    /*margin: 1vw;*/
}


.friends_like_shopping_content_img {
    width: 200px;
    height: 200px;
    /*background-color: #ef1c1c;*/
    /*margin: 1vw 1.5vw;*/
    object-fit: cover;
    object-position: center;
}

.friends_like_shopping_content_img img {
    width: 100%;
    height: 100%;
}

.friends_like_shopping_content_desc {
    width: 100%;
    /*height: 8vw;*/
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*margin: 1vw auto 0;*/
}

/*.friends_like_shopping_content_desc_bar {*/
/*    margin-top: 1vw;*/
/*    width: 90%;*/
/*    height: 2px;*/
/*    background-color: #7556CD;*/
/*}*/

.friends_like_shopping_content_desc_title {
    /*text-align: left;*/
    width: 100%;
    height: 30px;
    margin-top: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.friends_like_shopping_content_desc_title p {
    /*margin: 0 auto;*/
}

.friends_like_shopping_content_desc_price {
    text-align: left;
    margin-top: 6px;
    width: 100%;
    /*height: 3vw;*/

}

.friends_like_shopping_content_desc_price p {
    font-size: 18px;
    color: #191919;
    font-weight: 700;
    /*margin: 0 auto;*/
}