.friends_like_container .friends_like_info {
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.friends_like_container .friends_like_close_btn{
    position: absolute;
    top: 50px;
    left: 95%;
    background-image: url("../../images/x_black.png");
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.friends_like_img {
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
}

.friends_like_info_group {
    margin-left: 10px;
}


.friends_like_id {
    opacity: .4;
    font-size: 14px;
    margin-top: 4px;
}

.friends_like_container {
  position: relative;
  width: 100%;
  padding-top: 25px;
  padding-left: 25px;
  display: none;
}


.friends_like_category {
  margin-top: 25px;
  font-weight: 700;
  color: #d2d2d2;
}

.friends_like_category span {
  margin-right: 12px;
  cursor: pointer;
}

.friends_like_youtube {
  padding-top: 60px;
  width: 95%;
  height: 100%;
  overflow-x: auto;
  max-height: 680px;
  display: none;
}

.friends_like_youtube::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

.friends_like_youtube::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px #a185f2;
}

.friends_like_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.friends_like_youtube_container {
  margin-bottom: 40px;
  width: 14vw;
  position: relative;
}
.friends_like_content_box {
    min-width: 280px;
    width: 100%;
    height: 240px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    margin-right: 10px;
    position: relative;
}

.friends_like_video_img {
    width: 100%;
    height: 170px;
    background-color: #d2d2d2;
}



.friends_like_news {
  padding-top: 40px;
  width: 95%;
  height: 100%;
  display: none;
  overflow-y: auto;
  max-height: 680px;
}
.friends_like_news::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

.friends_like_news::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px #a185f2;
}

.friends_like_news_content {
    position: relative;
    width: 50vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vw;
}

.friends_like_news_content p{
    margin:0
}

.friends_like_news_content_image{
    width: 12vw;
    height: 12vw;
    background-color: #3D3D3D;
    object-fit: contain;
    object-position: center;
    border: min(2vw, 2px) solid #7556CD;
}

.friends_like_news_content_image img{
    width: 100%;
    height: 100%;
}

.friends_like_news_content_desc{
    width: 30vw;
    height: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.friends_like_news_content_desc_title{
    width: 30vw;
    height: 3vw;
    overflow: hidden;
}

.friends_like_news_content_desc_title p{
    width: 100%;
    height: 80%;
    overflow: hidden;
    font-size: 2vw;
}

.friends_like_news_content_desc_detail{
    width: 30vw;
    height: 5vw;
    overflow: hidden;
}

.friends_like_news_content_desc_footer{
    width: 30vw;
    height: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.friends_like_news_content_desc_footer_newspaper{
    width: 30%;
    height: 100%;
    text-align: left;
}

.friends_like_news_content_desc_footer_time{
    width: 30%;
    height: 100%;
    text-align: right;
}

.friends_like_book {
  padding-top: 60px;
  width: 95%;
  height: 100%;
  position: relative;
  display: none;
  overflow-x: auto;
  max-height: 660px;
}

.friends_like_book::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

.friends_like_book::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px #a185f2;
}

.friends_like_book_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.friends_like_content_box {
    position: relative;
    width: 15vw;
    height: 20vw;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: left;
    margin: 5px 0 50px 35px;
    color: #5e5e5e;
}

.profile_like_book_image {
  width: 9vw;
  height: 12vw;
  background-color: #b7b7b7;
}

.profile_like_book_info {
  margin-left: 10px;
  height: 12vw;
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}

.profile_like_book_title {
  font-size: 18px;
  font-weight: bold;
}

.profile_like_book_writer {
  font-size: 13px;
  color: #b7b7b7;
}

.profile_like_book_translator {
  font-size: 13px;
  color: #b7b7b7;
}

.profile_like_book_price {
  margin-top: 20px;
  font-weight: bold;
}

.profile_like_book_button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.profile_like_book_setting {
  background-image: url('../../images/more_deep_purple.png');
  background-size: contain;
  width: 40px;
  height: 40px;
}

.profile_like_book_heart {
  background-image: url('../../images/heart.png');
  background-size: contain;
  width: 25px;
  height: 25px;
}

.profile_like_book_toggle {
  position: absolute;
  top: -45px;
  left: 84%;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: #a185f2;
  text-align: center;
  color: white;
  font-weight: bold;
}

.profile_like_shopping {
  padding-top: 60px;
  width: 95%;
  height: 100%;
  position: relative;
  overflow-x: auto;
  max-height: 660px;
  display: none;
}

.profile_like_shopping::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

.profile_like_shopping::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px #a185f2;
}

.profile_like_shopping_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.profile_like_shopping_container {
  margin-bottom: 40px;
  width: 24vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
}

.profile_like_shopping_image {
  width: 9vw;
  height: 12vw;
  background-color: #b7b7b7;
}

.profile_like_shopping_info {
  margin-top: 30px;
  margin-left: 10px;
  height: 12vw;
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.profile_like_shopping_title {
  font-size: 18px;
  font-weight: bold;
}

.profile_like_shopping_brand {
  margin-top: 10px;
  font-size: 13px;
  color: #b7b7b7;
}

.profile_like_shopping_price {
  margin-top: 40%;
  font-weight: bold;
}

.profile_like_shopping_button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.profile_like_shopping_setting {
  background-image: url('../../images/more_deep_purple.png');
  background-size: contain;
  width: 40px;
  height: 40px;
}

.profile_like_shopping_heart {
  background-image: url('../../images/heart.png');
  background-size: contain;
  width: 25px;
  height: 25px;
}

.profile_like_shopping_toggle {
  position: absolute;
  top: -45px;
  left: 84%;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: #a185f2;
  text-align: center;
  color: white;
  font-weight: bold;
}
