* {
  font-family: 'Noto Sans KR', 'Roboto';
  font-size: 16px;
  letter-spacing: -0.5px;
}
body {
  margin: 0 auto;
}
.outline {
  margin: 20px auto 0;
  display: flex;
  border: 4px solid #a185f2;
  border-radius: 20px;
  max-width: 100vw;
  width: 96%;
  height: 820px;
}
.nav {
  background-color: #fff;
  width: 90px;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 4px 0px 10px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.nav .logo {
  height: 70px;
  padding-top: 20px;
}
.nav .logo .logo_img {
  height: 100%;
  background-image: url('../../images/logo_vertical.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.nav .icon_group {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav .icon_group .icon {
  width: 36px;
  height: 36px;
  margin-bottom: 50px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.nav .icon_group .icon.user_icon {
  background-image: url('../../images/user_outline.png');
}
.nav .icon_group .icon.chat_icon {
  background-image: url('../../images/chat_outline.png');
}
.nav .icon_group .icon.mypage_icon {
  background-image: url('../../images/mypage.png');
}
.left_wrap {
  max-width: 600px;
  width: 100%;
  height: 100%;
  background-color: #faf9ff;
}

.right_wrap {
  width: 60%;
}

.user_profile {
  width: 100%;
}

.profile_upper {
  height: 250px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.profile_image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
}

.profile_image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile_user_name {
  margin-top: 15px;
  font-size: 28px;
  font-weight: 500;
}

.profile_user_id {
  color: #5e5e5e;
  font-size: 20px;
}

.profile_user_bio {
  margin-top: 8px;
  color: black;
  font-weight: bolder;
}

.profile_buttons {
  height: 250px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.profile_change {
  background-color: transparent;
  width: 80%;
  height: 62px;
  color: #a185f2;
  border: 2px solid #a185f2;
  border-radius: 10px;
  font-size: 20px;
}
.profile_follow {
  background-color: transparent;
  width: 80%;
  height: 62px;
  color: #a185f2;
  border: 2px solid #a185f2;
  border-radius: 10px;
  font-size: 20px;
}
.profile_like {
  background-color: transparent;
  width: 80%;
  height: 62px;
  color: #a185f2;
  border: 2px solid #a185f2;
  border-radius: 10px;
  font-size: 20px;
}

.profile_logout {
  margin-top: 128px;
  text-align: center;
  font-size: 24px;
  color: #7657ce;
  font-weight: bold;
}

.profile_logout > a > button {
  color: #7657ce;
  background-color: transparent;
  font-weight: bold;
  border: none;
}

.profile_right_default {
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.profile_default_image {
  background-image: url('http://bootstrap.gallery/ichat/light-version/img/empty-chat-display.svg');
  width: 240px;
  height: 240px;
  background-size: contain;
}

.profile_right_default p {
  margin-top: 2vw;
  color: #b7b7b7;
}

/* 비밀번호 재입력 폼 */

.profile_auth_container {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 400px;
  left: 350px;
  display: none;
}

.profile_auth_container .profile_auth_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_auth_container .profile_auth_form #password-again-helper {
  color: #a185f2;
  font-size: 15px;
  margin-bottom: 8px;
  margin-left: -90px;
}

.profile_auth_container .profile_auth_form #password-again-input {
  border: 2px solid #a185f2;
  border-radius: 10px;
  width: 250px;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.profile_auth_container .profile_auth_form #password-again-btn {
  color: #fff;
  background-color: #7657ce;
  width: 260px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

/* 프로필 변경 폼 */

.profile_change_container {
  width: 100%;
  height: 100%;
  display: none;
}

.profile_change_title {
  padding-top: 25px;
  padding-left: 25px;
  font-size: 23px;
  font-weight: bold;
}

.profile_change_part {
  height: 80%;
  margin-top: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.profile_change_part .profile_image_change {
  width: 12vw;
  height: 12vw;
  border: 1px gray solid;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 50px;
}

.profile_image_change > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile_change_part > .profile_change_field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}
.profile_change_part > .profile_change_field > label {
  font-size: 14px;
  color: #7657ce;
  font-weight: 600;
  margin-bottom: 5px;
}

.profile_change_part > .profile_change_field > input {
  border: 2px solid #a185f2;
  border-radius: 10px;
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.profile_change_part > .profile_change_field > small {
  font-size: 75%;
  visibility: hidden;
  color: red;
  margin-top: -8px;
  padding-left: 5px;
}

.profile_change_button {
  background-color: #7657ce;
  width: 310px;
  height: 40px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.profile_follow_container {
  width: 100%;
  height: 100%;
  display: none;
}

.profile_follow_title {
  padding-top: 25px;
  padding-left: 25px;
  font-size: 23px;
  font-weight: bold;
}

.profile_chat_avatar {
  background-color: #b7b7b7;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.profile_follow_list {
  margin-top: 32px;
}

.profile_follow_list li {
  margin-left: 16px;
  padding: 24px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  border-bottom: 1px solid #e5e5e5;
}

.profile_follow_list_body {
  margin-left: 24px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.profile_follow_add {
  background-image: url('../../images/plus_purple.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  margin-left: auto;
}

.profile_follow_decline {
  background-image: url('../../images/x_black.png');
  background-size: cover;
  width: 30px;
  height: 30px;
}

.profile_follow_user {
  font-size: 24px;
  font-weight: bold;
}

.profile_follow_user_bio {
  color: #5e5e5e;
}

.profile_like_container {
  width: 100%;
  padding-top: 25px;
  padding-left: 25px;
  display: none;
}

.profile_like_title {
  font-size: 23px;
  font-weight: bold;
}

.profile_like_category {
  margin-top: 25px;
  font-weight: 700;
  color: #d2d2d2;
}

.profile_like_category span {
  margin-right: 12px;
  cursor: pointer;
}

.profile_like_youtube {
  padding-top: 60px;
  width: 95%;
  height: 100%;
  overflow-x: auto;
  max-height: 680px;
  display: none;
}

.profile_like_youtube::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

.profile_like_youtube::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px #a185f2;
}

.profile_like_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.profile_like_youtube_container {
  margin-bottom: 40px;
  width: 14vw;
  position: relative;
}
.profile_like_youtube_container iframe {
  width: 100%;
}

.profile_like_setting {
  background-image: url('../../images/more_deep_purple.png');
  position: absolute;
  top: 2px;
  left: 14vw;
  background-size: contain;
  z-index: 3;
  width: 40px;
  height: 40px;
}

.profile_like_youtube_toggle {
  position: absolute;
  top: -42px;
  left: 90%;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: #a185f2;
  text-align: center;
  color: white;
  font-weight: bold;
}

.profile_like_heart {
  position: absolute;
  top: 50px;
  left: 14.5vw;
  background-image: url('../../images/heart.png');
  background-size: contain;
  width: 25px;
  height: 25px;
}

.profile_like_news {
  padding-top: 40px;
  width: 95%;
  height: 100%;
  display: none;
  overflow-y: auto;
  max-height: 680px;
}
.profile_like_news::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

.profile_like_news::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px #a185f2;
}

.profile_like_news li {
  width: 95%;
  height: 10vw;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
}

.profile_like_news_image {
  background-color: #b7b7b7;
  width: 11vw;
  height: 6vw;
}

.profile_like_news_info {
  width: 33vw;
}

.profile_like_news_title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.profile_like_news_content {
  margin-bottom: 12px;
}

.profile_like_news_button {
  padding-top: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.profile_like_news_setting {
  background-image: url('../../images/more_deep_purple.png');
  background-size: contain;
  width: 40px;
  height: 40px;
}

.profile_like_news_heart {
  background-image: url('../../images/heart.png');
  background-size: contain;
  width: 25px;
  height: 25px;
}

.profile_like_news_toggle {
  position: absolute;
  top: -25px;
  left: 92%;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: #a185f2;
  text-align: center;
  color: white;
  font-weight: bold;
}

.profile_like_book {
  padding-top: 60px;
  width: 95%;
  height: 100%;
  position: relative;
  display: none;
  overflow-x: auto;
  max-height: 660px;
}

.profile_like_book::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

.profile_like_book::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px #a185f2;
}

.profile_like_book_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.profile_like_book_container {
  margin-bottom: 40px;
  width: 24vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
}

.profile_like_book_image {
  width: 9vw;
  height: 12vw;
  background-color: #b7b7b7;
}

.profile_like_book_info {
  margin-left: 10px;
  height: 12vw;
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}

.profile_like_book_title {
  font-size: 18px;
  font-weight: bold;
}

.profile_like_book_writer {
  font-size: 13px;
  color: #b7b7b7;
}

.profile_like_book_translator {
  font-size: 13px;
  color: #b7b7b7;
}

.profile_like_book_price {
  margin-top: 20px;
  font-weight: bold;
}

.profile_like_book_button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.profile_like_book_setting {
  background-image: url('../../images/more_deep_purple.png');
  background-size: contain;
  width: 40px;
  height: 40px;
}

.profile_like_book_heart {
  background-image: url('../../images/heart.png');
  background-size: contain;
  width: 25px;
  height: 25px;
}

.profile_like_book_toggle {
  position: absolute;
  top: -45px;
  left: 84%;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: #a185f2;
  text-align: center;
  color: white;
  font-weight: bold;
}

.profile_like_shopping {
  padding-top: 60px;
  width: 95%;
  height: 100%;
  position: relative;
  overflow-x: auto;
  max-height: 660px;
  display: none;
}

.profile_like_shopping::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

.profile_like_shopping::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px #a185f2;
}

.profile_like_shopping_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.profile_like_shopping_container {
  margin-bottom: 40px;
  width: 24vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
}

.profile_like_shopping_image {
  width: 9vw;
  height: 12vw;
  background-color: #b7b7b7;
}

.profile_like_shopping_info {
  margin-top: 30px;
  margin-left: 10px;
  height: 12vw;
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.profile_like_shopping_title {
  font-size: 18px;
  font-weight: bold;
}

.profile_like_shopping_brand {
  margin-top: 10px;
  font-size: 13px;
  color: #b7b7b7;
}

.profile_like_shopping_price {
  margin-top: 40%;
  font-weight: bold;
}

.profile_like_shopping_button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.profile_like_shopping_setting {
  background-image: url('../../images/more_deep_purple.png');
  background-size: contain;
  width: 40px;
  height: 40px;
}

.profile_like_shopping_heart {
  background-image: url('../../images/heart.png');
  background-size: contain;
  width: 25px;
  height: 25px;
}

.profile_like_shopping_toggle {
  position: absolute;
  top: -45px;
  left: 84%;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: #a185f2;
  text-align: center;
  color: white;
  font-weight: bold;
}
