* {
    font-family: 'Noto Sans KR', 'Roboto';
    font-size: 16px;
    letter-spacing: -0.5px;
}

body {
    margin: 0 auto;
}

.outline {
    margin: 20px auto 0;
    display: flex;
    border: 4px solid #a185f2;
    border-radius: 20px;
    max-width: 100vw;
    width: 96%;
    height: 820px;
}

.nav {
    background-color: #fff;
    width: 8%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 4px 0px 10px 3px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.nav .logo {
    height: 70px;
    padding-top: 20px;
}

.nav .logo .logo_img {
    height: 100%;
    background-image: url('https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/logo_vertical.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.nav .icon_group {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav .icon_group .icon {
    width: 36px;
    height: 36px;
    margin-bottom: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.nav .icon_group .icon.user_icon {
    background-image: url('https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/user_outline.png');
}

.nav .icon_group .icon.chat_icon {
    background-image: url('https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/chat_outline.png');
}

.nav .icon_group .icon.mypage_icon {
    background-image: url('https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/mypage.png');
}

.left_wrap {
    max-width: 600px;
    width: 100%;
    height: 100%;
    background-color: #faf9ff;
}

.right_wrap {
    width: 100%;
}

.user_profile {
    width: 100%;
}

.profile_upper {
    height: 250px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.profile_image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
}

.profile_image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_user_name {
    margin-top: 15px;
    font-size: 28px;
    font-weight: 500;
}

.profile_user_id {
    color: #5e5e5e;
    font-size: 20px;
}

.profile_user_bio {
    margin-top: 8px;
    color: black;
    font-weight: bolder;
}

.profile_buttons {
    height: 250px;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.profile_change {
    background-color: transparent;
    width: 80%;
    height: 62px;
    color: #a185f2;
    border: 2px solid #a185f2;
    border-radius: 10px;
    font-size: 20px;
}

.profile_follow {
    background-color: transparent;
    width: 80%;
    height: 62px;
    color: #a185f2;
    border: 2px solid #a185f2;
    border-radius: 10px;
    font-size: 20px;
}

.profile_like {
    background-color: transparent;
    width: 80%;
    height: 62px;
    color: #a185f2;
    border: 2px solid #a185f2;
    border-radius: 10px;
    font-size: 20px;
}

.profile_logout {
    margin-top: 128px;
    text-align: center;
    font-size: 24px;
    color: #7657ce;
    font-weight: bold;
}

.profile_logout > a > button {
    color: #7657ce;
    background-color: transparent;
    font-weight: bold;
    border: none;
}

.profile_right_default {
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.profile_default_image {
    background-image: url('https://bootstrap.gallery/ichat/light-version/img/empty-chat-display.svg');
    width: 240px;
    height: 240px;
    background-size: contain;
}

.profile_right_default p {
    margin-top: 2vw;
    color: #b7b7b7;
}

/* 비밀번호 재입력 폼 */

.profile_auth_container {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 400px;
    left: 350px;
    display: none;
}

.profile_auth_container .profile_auth_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_auth_container .profile_auth_form #password-again-helper {
    color: #5e5e5e;
    margin-bottom: 8px;
}

.profile_auth_container .profile_auth_form #password-again-input {
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.profile_auth_container .profile_auth_form #password-again-btn {
    color: #fff;
    background-color: #a185f2;
    width: 300px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;
}

/* 프로필 변경 폼 */

.profile_change_container {
    width: 100%;
    height: 100%;
    display: none;
}

.profile_change_title {
    padding-top: 25px;
    padding-left: 25px;
    font-size: 23px;
    font-weight: bold;
}

.profile_change_part {
    height: 80%;
    margin-top: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.profile_change_part .profile_image_change {
    width: 12vw;
    height: 12vw;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 30px;
}

.profile_image_change > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_change_part > .profile_change_field {
    display: flex;
    flex-direction: column;
}

.profile_change_part > .profile_change_field > label {
    font-size: 14px;
    color: #5e5e5e;
    font-weight: 600;
    margin-bottom: 5px;
}

.profile_change_part > .profile_change_field > input {
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.profile_change_part > .profile_change_field > small {
    font-size: 75%;
    visibility: hidden;
    color: #ff3217;
    margin-top: -8px;
    padding-left: 5px;
}

.profile_change_button {
    background-color: #a185f2;
    width: 310px;
    height: 40px;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 12px;
}

.profile_follow_container {
    width: 100%;
    height: 100%;
    display: none;
}

.profile_follow_title {
    padding-top: 25px;
    padding-left: 25px;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 32px;
}

.profile_chat_avatar {
    background-color: #b7b7b7;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.profile_chat_avatar > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_follow_list {
    /*margin-top: 32px;*/
}

.profile_follow_list li {
    margin: 0 16px;
    padding: 12px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    border-bottom: 1px solid #e5e5e5;
}

.profile_follow_list_body {
    margin-left: 24px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.profile_follow_add {
    background-image: url('https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/plus_purple.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: auto;
    position: relative;
    margin-right: 66px;
}

.profile_follow_add p {
    position: absolute;
    left: -54px;
    top: 8px;
    color: #a185f2;
    font-weight: 500;
}

.profile_follow_decline {
    background-image: url('https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/x_gray.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    position: relative;
}

.profile_follow_decline p {
    position: absolute;
    left: -54px;
    top: 8px;
    color: #5e5e5e;
    font-weight: 500;
}

.profile_follow_user {
    font-size: 18px;
    font-weight: 700;
}

.profile_follow_user_bio {
    color: #5e5e5e;
    margin-top: 6px;
}

.profile_like_container {
    width: 100%;
    padding-top: 25px;
    padding-left: 25px;
    display: none;
}

.profile_like_title {
    font-size: 23px;
    font-weight: bold;
}

.profile_like_category {
    margin-top: 25px;
    font-weight: 700;
    color: #d2d2d2;
}

.profile_like_category span {
    margin-right: 12px;
    cursor: pointer;
}

/* --------------profile_like_youtube------------ */

.right_wrap .profile_like_container .profile_like_youtube {
    margin-top: 30px;
    width: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 680px;
    /*display: none;*/
}

.right_wrap .profile_like_container .profile_like_youtube::-webkit-scrollbar {
    height: 12px;
}

.right_wrap .profile_like_container .profile_like_youtube::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

.right_wrap .profile_like_container .profile_like_youtube::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}

.right_wrap .profile_like_container .profile_like_youtube .profile_like_youtube_grid {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
}


.right_wrap .profile_like_container .profile_like_youtube .profile_like_youtube_grid .profile_like_youtube_content_box {
    width: 300px;
    height: 240px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    margin-right: 18px;
    margin-bottom: 12px;
    position: relative;
}

.right_wrap .profile_like_container .profile_like_youtube .profile_like_youtube_grid .profile_like_youtube_content_box:last-child {
    margin-right: 0;
}

.right_wrap .profile_like_container .profile_like_youtube .profile_like_youtube_grid .profile_like_youtube_content_box .video_img {
    width: 100%;
    height: 175px;
    background-color: #d2d2d2;
}

.right_wrap .profile_like_container .profile_like_youtube .profile_like_youtube_grid .profile_like_youtube_content_box .video_title {
    width: 75%;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 6px 6px;
}

.right_wrap .profile_like_container .profile_like_youtube .profile_like_youtube_grid .profile_like_youtube_content_box .video_count {
    font-size: 14px;
    color: #5e5e5e;
    margin-left: 6px;
}


.right_wrap .profile_like_container .profile_like_youtube .profile_like_youtube_grid .profile_like_youtube_content_box .profile_like_heart {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/empty_heart.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    object-fit: cover;
}

.right_wrap .profile_like_container .profile_like_youtube .profile_like_youtube_grid .profile_like_youtube_content_box .profile_youtube_like_heart {
    position: absolute;
    right: 4px;
    bottom: 4px;
}

/* .profile_like_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.profile_like_youtube_container {
  margin-bottom: 40px;
  width: 14vw;
  position: relative;
}
.profile_like_youtube_container iframe {
  width: 100%;
} */

/* --------------profile_like_youtube ends here------------ */


/* --------------profile_like_news------------ */

.right_wrap .profile_like_container .profile_like_news {
    margin-top: 30px;
    width: 95%;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 680px;
}

.right_wrap .profile_like_container .profile_like_news::-webkit-scrollbar {
    height: 12px;
}

.right_wrap .profile_like_container .profile_like_news::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

.right_wrap .profile_like_container .profile_like_news::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}

.right_wrap .profile_like_container .profile_like_news .profile_like_news_content {
    position: relative;
    width: 100%;
    height: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 18px;
}

.right_wrap .profile_like_container .profile_like_news .profile_like_news_content p {
    /*margin: 0;*/
    color: #191919;
}

.right_wrap .profile_like_container .profile_like_news .profile_like_news_content .profile_like_news_content_image {
    width: 14vw;
    height: 10vw;
    background-color: #3D3D3D;
}

.right_wrap .profile_like_container .profile_like_news .profile_like_news_content .profile_like_news_content_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.right_wrap .profile_like_container .profile_like_news .profile_like_news_content .profile_like_news_content_desc {
    width: 90%;
    height: 10vw;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    margin-left: 24px;

}

.right_wrap .profile_like_container .profile_like_news .profile_like_news_content .profile_like_news_content_desc .profile_like_news_content_desc_title {
    width: 90%;
    margin-bottom: 32px;


}

.right_wrap .profile_like_container .profile_like_news .profile_like_news_content .profile_like_news_content_desc .profile_like_news_content_desc_title p {
    width: 100%;
    /*height: 80%;*/
    /*overflow: hidden;*/
    color: #5e5e5e;
    font-size: 22px;
    font-weight: 700;
}

.right_wrap .profile_like_container .profile_like_news .profile_like_news_content .profile_like_news_content_desc .profile_like_news_content_desc_detail {
    width: 90%;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.right_wrap .profile_like_container .profile_like_news .profile_like_news_content .profile_like_news_content_desc .profile_like_news_content_desc_footer {
    width: 90%;
    /*height: 2vw;*/
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.right_wrap .profile_like_container .profile_like_news .profile_like_news_content .profile_like_news_content_desc .profile_like_news_content_desc_footer .profile_like_news_content_desc_footer_newspaper {
    width: 30%;
    height: 100%;
    text-align: left;
}

.right_wrap .profile_like_container .profile_like_news .profile_like_news_content .profile_like_news_content_desc .profile_like_news_content_desc_footer .profile_like_news_content_desc_footer_time {
    width: 30%;
    height: 100%;
    text-align: right;
}

.right_wrap .profile_like_container .profile_like_news .profile_like_news_content .profile_like_news_content_more {
    width: 5vw;
    height: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.right_wrap .profile_like_container .profile_like_news .profile_like_news_content .profile_like_news_content_more .profile_like_news_toggle {
    position: static;
    width: 28px;
    height: 28px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.right_wrap .profile_like_container .profile_like_news .profile_like_news_content .profile_like_news_content_more .profile_like_news_toggle:hover {
    filter: opacity(0.7) drop-shadow(0 0 0 #ffffff);
}

.right_wrap .profile_like_container .profile_like_news .profile_like_news_content .profile_like_news_content_more .profile_like_news_toggle img {
    width: 100%;
    height: 100%;
}

.right_wrap .profile_like_container .profile_like_news .profile_like_news_content .profile_like_news_content_more .recommend_like_heart {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/empty_heart.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    object-fit: cover;
}


/* -------------- profile_like_news ends here ------------ */

/* -------------- profile_like_book ------------ */

.right_wrap .profile_like_container .profile_like_book {
    margin-top: 30px;
    width: 95%;
    /*height: 88%;*/
    position: relative;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 660px;
}

.right_wrap .profile_like_container .profile_like_book::-webkit-scrollbar {
    height: 12px;
}

.right_wrap .profile_like_container .profile_like_book::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

.right_wrap .profile_like_container .profile_like_book::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}

.right_wrap .profile_like_container .profile_like_book .profile_like_book_content_box:last-child {
    margin-right: 0;
}


.right_wrap .profile_like_container .profile_like_book .profile_like_book_content_box .book_img {
    width: 200px;
    height: 240px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 40px;
}


.right_wrap .profile_like_container .profile_like_book .profile_like_book_content_box {
    position: relative;
    width: 95%;
    height: 200px;
    /*background-position: left;*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    text-align: left;
    margin-bottom: 60px;
    /*font-weight: 700;*/
    color: #5e5e5e;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    /*align-items: center;*/

}


.right_wrap .profile_like_container .profile_like_book .profile_like_book_content_box .profile_like_book_desc {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.right_wrap .profile_like_container .profile_like_book .profile_like_book_content_box .profile_like_book_desc p {
    /*width: 20%;*/
    /*font-size: 1vw;*/
}

.profile_like_book_desc_title, .profile_like_book_desc_series, .profile_like_book_desc_company, .profile_like_book_desc_author, .profile_like_book_desc_price {
    width: 100%;
    /*height: 4vw;*/
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-bottom: 12px;
}

.profile_like_book_desc_title .category,
.profile_like_book_desc_series .category,
.profile_like_book_desc_company .category,
.profile_like_book_desc_author .category,
.profile_like_book_desc_price .category {
    width: 100px;
    font-weight: 700;
    color: #191919;
}

/*.right_wrap .profile_like_container .profile_like_book .profile_like_book_content_box .profile_like_book_desc .profile_like_book_desc_title {*/
/*    height: 5vw*/
/*}*/

.right_wrap .profile_like_container .profile_like_book .profile_like_book_content_box .profile_like_book_desc .profile_like_book_desc_title p:nth-child(2) {
    width: 100%;
    /*font-size: 1.5vw;*/
    overflow: hidden;

}

.right_wrap .profile_like_container .profile_like_book .profile_like_book_content_box .profile_like_book_desc .profile_like_book_desc_series p:nth-child(2) {
    width: 100%;
    /*font-size: 1.5vw;*/
    overflow: hidden;

}

.right_wrap .profile_like_container .profile_like_book .profile_like_book_content_box .profile_like_book_desc .profile_like_book_desc_company p:nth-child(2) {
    width: 100%;
    /*font-size: 1.5vw;*/
    overflow: hidden;

}

.right_wrap .profile_like_container .profile_like_book .profile_like_book_content_box .profile_like_book_desc .profile_like_book_desc_author p:nth-child(2) {
    width: 100%;
    /*font-size: 1.5vw;*/
    overflow: hidden;

}

.right_wrap .profile_like_container .profile_like_book .profile_like_book_content_box .profile_like_book_desc .profile_like_book_desc_price p:nth-child(2) {
    width: 100%;
    /*font-size: 1.5vw;*/
    overflow: hidden;

}


.right_wrap .profile_like_container .profile_like_book .profile_like_book_content_box .recommend_toggle {
    opacity: 0;
    position: absolute;
    width: 102%;
    height: 3vw;
    background-color: rgb(250, 249, 255, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.right_wrap .profile_like_container .profile_like_book .profile_like_book_content_box .recommend_toggle .profile_like_news_toggle {
    position: static;
    width: 24px;
    height: 24px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.profile_like_news_toggle:hover {
    filter: opacity(0.7) drop-shadow(0 0 0 #ffffff);
}

.right_wrap .profile_like_container .profile_like_book .profile_like_book_content_box .recommend_toggle .profile_like_news_toggle img {
    width: 100%;
    height: 100%;
}

.right_wrap .profile_like_container .profile_like_book .profile_like_book_content_box .recommend_toggle .recommend_like_heart {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/empty_heart.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    object-fit: cover;
}


/* -------------- profile_like_book ends here ------------ */

/* -------------- profile_like_shopping  ------------ */

.right_wrap .profile_like_container .profile_like_shopping {
    margin-top: 30px;
    width: 95%;
    position: relative;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 680px;
    /*font-weight: 700;*/
    color: #5e5e5e;
}

.right_wrap .profile_like_container .profile_like_shopping::-webkit-scrollbar {
    height: 12px;
}

.right_wrap .profile_like_container .profile_like_shopping::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

.right_wrap .profile_like_container .profile_like_shopping::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}

.right_wrap .profile_like_container .profile_like_shopping .profile_like_shopping_grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.right_wrap .profile_like_container .profile_like_shopping .profile_like_shopping_grid .profile_like_shopping_content {
    position: relative;
    width: 200px;
    height: 270px;
    margin-right: 40px;
    margin-bottom: 32px;
}


.right_wrap .profile_like_container .profile_like_shopping .profile_like_shopping_grid .profile_like_shopping_content .profile_like_shopping_content_img {
    width: 200px;
    height: 200px;
    /*background-color: #ef1c1c;*/
    /*margin: 1vw 1.5vw;*/
    object-fit: cover;
    object-position: center;
}

.right_wrap .profile_like_container .profile_like_shopping .profile_like_shopping_grid .profile_like_shopping_content .profile_like_shopping_content_img img {
    width: 100%;
    height: 100%;
}

.right_wrap .profile_like_container .profile_like_shopping .profile_like_shopping_grid .profile_like_shopping_content .profile_like_shopping_content_desc {
    width: 100%;
    /*height: 8vw;*/
    display: flex;
    flex-direction: column;
}

/*.right_wrap .profile_like_container .profile_like_shopping .profile_like_shopping_grid .profile_like_shopping_content .profile_like_shopping_content_desc .profile_like_shopping_content_desc_bar {*/
/*    margin-top: 1vw;*/
/*    width: 90%;*/
/*    height: 2px;*/
/*    background-color: #7556CD;*/
/*}*/

.right_wrap .profile_like_container .profile_like_shopping .profile_like_shopping_grid .profile_like_shopping_content .profile_like_shopping_content_desc .profile_like_shopping_content_desc_title {
    width: 100%;
    height: 30px;
    margin-top: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/*.right_wrap .profile_like_container .profile_like_shopping .profile_like_shopping_grid .profile_like_shopping_content .profile_like_shopping_content_desc .profile_like_shopping_content_desc_title p {*/
/*    margin: 0 auto;*/
/*}*/

.right_wrap .profile_like_container .profile_like_shopping .profile_like_shopping_grid .profile_like_shopping_content .profile_like_shopping_content_desc .profile_like_shopping_content_desc_price {
    text-align: left;
    margin-top: 6px;
    width: 100%;

}

.right_wrap .profile_like_container .profile_like_shopping .profile_like_shopping_grid .profile_like_shopping_content .profile_like_shopping_content_desc .profile_like_shopping_content_desc_price p {
    font-size: 18px;
    color: #191919;
    font-weight: 700;
}

.right_wrap .profile_like_container .profile_like_shopping .profile_like_shopping_grid .profile_like_shopping_content .recommend_toggle {
    position: absolute;
    width: 102%;
    height: 3vw;
    background-color: rgb(250, 249, 255, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
}


.right_wrap .profile_like_container .profile_like_shopping .profile_like_shopping_grid .profile_like_shopping_content .recommend_toggle .profile_like_news_toggle {
    position: static;
    width: 24px;
    height: 24px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.right_wrap .profile_like_container .profile_like_shopping .profile_like_shopping_grid .profile_like_shopping_content .recommend_toggle .profile_like_news_toggle:hover {
    filter: opacity(0.7) drop-shadow(0 0 0 #ffffff);
}

.right_wrap .profile_like_container .profile_like_shopping .profile_like_shopping_grid .profile_like_shopping_content .recommend_toggle .profile_like_news_toggle img {
    width: 100%;
    height: 100%;
}

.right_wrap .profile_like_container .profile_like_shopping .profile_like_shopping_grid .profile_like_shopping_content .recommend_toggle .recommend_like_heart {
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/empty_heart.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    object-fit: cover;
}


@keyframes appear_toggle {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}