* {
    font-family: 'Noto Sans KR', 'Roboto';
    font-size: 16px;
    letter-spacing: -0.5px;
}

/* 크롬에서 input 입력시 검은색 테두리 생기는 현상 방지 */

*,
*:focus,
*:hover {
    outline: none;
}

body {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.signup-container {
    margin: 50px auto 0;
    display: flex;
    border: 1px solid transparent;
    border-radius: 10px;
    max-width: 100vw;
    position: relative;
    width: 1028px;
    height: 720px;
}

.signup-container .signup-left-wrapper {
    width: 45%;
    height: 100%;
    /*border: 1px solid transparent;*/
    border-radius: 12px;
    background-color: #a185f2;
    box-shadow: -10px 10px 25px 1px rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-container
.signup-left-wrapper
.signup-form-container
.signup-profile-img {
    width: 180px;
    height: 180px;
    background-color: rgba(255,255,255,.4);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px auto 20px;
    cursor: pointer;
}

.signup-container
.signup-left-wrapper
.signup-form-container
.signup-profile-img
.profile-img-default {
    width: 30px;
    height: 30px;
}

.signup-container
.signup-left-wrapper
.signup-form-container
.signup-profile-img
p {
    font-size: 70%;
    color: #5e5e5e;
    margin-top: 10px
}

.signup-container .signup-left-wrapper .signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 0;
    /* position: relative;
    top: 80px; */
}

.signup-container .signup-left-wrapper .signup-form-container div {
    /* width: 70%;
    height: 2%;
    background: white; */
    /* padding: 1em; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /*margin-bottom: 8px;*/
}

/* .signup-container
  .signup-left-wrapper
  .signup-form-container
  .profile-bio
  #bio {
  padding: 0;
  width: 100%;
  height: 100%;
} */

.signup-container .signup-left-wrapper .signup-form-container div > input {
    /* outline: none;
    border: none;
    width: 100%;
    padding: 0;
    border-width: 0;
    box-sizing: border-box; */
    border: 1px solid #a185f2;
    border-radius: 6px;
    width: 380px;
    height: 50px;
    padding-left: 10px;
    box-sizing: border-box;
}

.signup-container .signup-left-wrapper .signup-form-container .btn-signup {
    margin-top: 20px;
    width: 378px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    box-sizing: border-box;
}

.signup-container
.signup-left-wrapper
.signup-form-container
.btn-signup
.signBtn {
    width: 100%;
    background: transparent;
    border: 1px solid white;
    color: #ffffff;
    border-radius: 6px;
    /*font-size: 80%;*/
    font-weight: 600;
    cursor: pointer;
    padding: 12px 12px 10px 10px;
    vertical-align: middle;
    box-sizing: border-box;
}

.signup-container
.signup-left-wrapper
.signup-form-container
div input::placeholder {
    font-size: 80%;
    font-weight: 500;
}

.signup-container .signup-left-wrapper .move-to-signin {
    width: 70%;
    display: flex;
    justify-content: center;
}

.signup-container .signup-left-wrapper .move-to-signin .loginBtn {
    font-size: 90%;
    border: none;
    color: #ffffff;
    background: transparent;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10%;
}

.signup-container .signup-left-wrapper .signup-form-container > div > small {
    font-size: 75%;
    visibility: hidden;
    color: #ffffff;
    margin-top: 1%;
    padding-left: 5px;
}

/* right wrapper 작업 */

.signup-container .signup-right-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.signup-container .signup-right-wrapper .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-container .signup-right-wrapper .logo > img {
    width: 40%;
}

.signup-container .signup-right-wrapper .logo .agree-info {
    /*font-size: 90%;*/
    color: #7657ce;
    font-weight: 600;
    margin: 50px auto 20px;
}

.signup-container .signup-right-wrapper .agree-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.signup-container .signup-right-wrapper .agree-container .agree-clause {
    display: flex;
    flex-direction: column;
}

.signup-container .signup-right-wrapper .agree-container .agree-clause > p {
    font-size: 80%;
    margin-bottom: -3%;
    color: #7657ce;
    height: 30px;
}

.signup-container .signup-right-wrapper .agree-container .agree-checkbox {
    margin-top: 15%;
}

.signup-container
.signup-right-wrapper
.agree-container
.agree-checkbox
> label {
    font-size: 90%;
    font-weight: 600;
    color: #7657ce;
}
