<div class="recommend_close_btn" onclick="close_recommend()"></div>
<div class="recommend_youtube_container" id="recommend_youtube_container">
    <div class="recommend_nav">
        <span>YOUTUBE</span>
        <span>NEWS</span>
        <span>BOOK</span>
        <span>SHOPPING</span>

    </div>
    <div class="search_bar">
        <div class="search_icon"></div>
        <input type="text" placeholder="Search">
    </div>
    <div class="content_wrap">
        <div class="recommend_content">
            <p>추천 컨텐츠</p>
            <div class="video"></div>

            <div class="content_section" id="youtube_recommend_content">
                <div class="recommend_spinner" style="display: flex;">
                    <div class="recommend_spinner_lorder"></div>
                </div>
                <!-- youtube 클롤링 결과 -->
            </div>
        </div>
        <div class="search_content">
            <p>검색</p>
            <div class="content_section" id="youtube_content_section">
                <div class="content_box">
                    <div class="video_img"></div>
                    <div class="video_title">
                        코딩할때 듣기 좋은 노래 • lofi type beat • 3 hours
                        • lofi type beat • 3 hours • lofi type beat • 3 hours
                    </div>
                    <div class="video_count">조회수 1889만회</div>
                    <div class="play_icon"></div>
                    <div class="more_icon"></div>
                </div>
                <div class="content_box">
                    <div class="video_img"></div>
                    <div class="video_title">코딩할때 듣기 좋은 노래 • lofi type beat • 3 hours
                    </div>
                    <div class="video_count">조회수 1889만회</div>
                    <div class="play_icon"></div>
                    <div class="more_icon"></div>
                </div>
                <div class="content_box">
                    <div class="video_img"></div>
                    <div class="video_title">코딩할때 듣기 좋은 노래 • lofi type beat • 3 hours
                    </div>
                    <div class="video_count">조회수 1889만회</div>
                    <div class="play_icon"></div>
                    <div class="more_icon"></div>
                </div>
                <div class="content_box">
                    <div class="video_img"></div>
                    <div class="video_title">코딩할때 듣기 좋은 노래 • lofi type beat • 3 hours
                    </div>
                    <div class="video_count">조회수 1889만회</div>
                    <div class="play_icon"></div>
                    <div class="more_icon"></div>
                </div>
                <div class="content_box">
                    <div class="video_img"></div>
                    <div class="video_title">코딩할때 듣기 좋은 노래 • lofi type beat • 3 hours
                    </div>
                    <div class="video_count">조회수 1889만회</div>
                    <div class="play_icon"></div>
                    <div class="more_icon"></div>
                </div>
                <div class="content_box">
                    <div class="video_img"></div>
                    <div class="video_title">코딩할때 듣기 좋은 노래 • lofi type beat • 3 hours
                    </div>
                    <div class="video_count">조회수 1889만회</div>
                    <div class="play_icon"></div>
                    <div class="more_icon"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="recommend_news_container" id="recommend_news_container">
    <div class="recommend_nav">
        <span>YOUTUBE</span>
        <span>NEWS</span>
        <span>BOOK</span>
        <span>SHOPPING</span>
    </div>
    <div class="search_bar">
        <div class="search_icon"></div>
        <input type="text" placeholder="Search">
    </div>
    <div class="content_news_wrap">
        <div class="recommend_news_content">
            <p>추천 컨텐츠</p>
            <div class="content_news_section" id="news_recommend_content">
                <div class="recommend_spinner" style="display: flex;">
                    <div class="recommend_spinner_lorder"></div>
                </div>
                <!-- news 크롤링 결과-->
            </div>
            <div class="search_news_content" id="test">
                <p>검색</p>
                <div class="search_section">
                    <div class="recommend_news_search_content">
                        <div class="recommend_news_search_content_image">
                            <img src="/static/images/70ad8c1c-7d9b-4dee-9317-6053e0359a60.jpg">
                        </div>
                        <div class="recommend_news_search_content_desc">
                            <div class="recommend_news_search_content_desc_title">
                                <p>이디야커피, '바닐라 라떼·쇼콜라 모카' 출시</p>
                            </div>
                            <div class="recommend_news_search_content_desc_detail">
                                <p>이디야커피는 컵커피 '바닐라 라떼'와 '쇼콜라 모카' 2종을 출시했다고 24일 밝혔다. 컵커피는 자체 로스팅 공장 드림팩토리에서 첨단 로스터기로 로스팅한
                                    신선한 원두만을 사용한 제품이다. 융드립 추출 방식을 사용해...</p>
                            </div>
                            <div class="recommend_news_search_content_desc_footer">
                                <div class="recommend_news_search_content_desc_footer_newspaper">
                                    <p>테스트 신문사아</p>
                                </div>
                                <div class="recommend_news_search_content_desc_footer_time">
                                    <p>8시간 전</p>
                                </div>
                            </div>
                        </div>
                        <div class="recommend_news_search_content_more">
                            <div class="profile_like_news_toggle">
                                <img src="/static/images/share.png">
                            </div>
                            <div class="profile_like_news_heart" style="display: block">
                                <img src="">
                            </div>
                        </div>
                    </div>
                    <div class="recommend_news_search_content">
                        <div class="recommend_news_search_content_image">
                            <img src="/static/images/70ad8c1c-7d9b-4dee-9317-6053e0359a60.jpg">
                        </div>
                        <div class="recommend_news_search_content_desc">
                            <div class="recommend_news_search_content_desc_title">
                                <p>이디야커피, '바닐라 라떼·쇼콜라 모카' 출시</p>
                            </div>
                            <div class="recommend_news_search_content_desc_detail">
                                <p>이디야커피는 컵커피 '바닐라 라떼'와 '쇼콜라 모카' 2종을 출시했다고 24일 밝혔다. 컵커피는 자체 로스팅 공장 드림팩토리에서 첨단 로스터기로 로스팅한
                                    신선한 원두만을 사용한 제품이다. 융드립 추출 방식을 사용해...</p>
                            </div>
                            <div class="recommend_news_search_content_desc_footer">
                                <div class="recommend_news_search_content_desc_footer_newspaper">
                                    <p>테스트 신문사아</p>
                                </div>
                                <div class="recommend_news_search_content_desc_footer_time">
                                    <p>8시간 전</p>
                                </div>
                            </div>
                        </div>
                        <div class="recommend_news_search_content_more">
                            <div class="profile_like_news_toggle">
                                <img src="/static/images/share.png">
                            </div>
                            <div class="profile_like_news_heart" style="display: none"></div>
                            <div class="profile_like_news_heart_empty" style="display: block"></div>
                        </div>
                    </div>
                    <!-- 기존 news Template -->
                    {#                    <div class="profile_like_news">#}
                    {#                        <li>#}
                    {#                            <div class="profile_like_news_image"></div>#}
                    {#                            <div class="profile_like_news_info">#}
                    {#                                <div class="profile_like_news_title">미세먼지 농도 '나쁨'...건조한 날씨 계속[오후날씨 꿀팁]</div>#}
                    {#                                <div class="profile_like_news_content">경기도와 인천, 충남엔 초미세먼지 주의보가 내려졌습니다. 현재 서울의#}
                    {#                                    초미세먼지#}
                    {#                                    농도는 63마이크로그램 등 노란색으로 보이는 전국 대부분 지역에서 나쁨 단...#}
                    {#                                </div>#}
                    {#                                <div class="profile_like_news_company">KBS</div>#}
                    {#                            </div>#}
                    {#                            <div class="profile_like_news_toggle" style="display: none;">#}
                    {#                                <p>공유하기</p>#}
                    {#                            </div>#}
                    {#                            <div class="profile_like_news_button">#}
                    {#                                <div class="profile_like_news_setting"></div>#}
                    {#                                <div class="profile_like_news_heart"></div>#}
                    {#                            </div>#}
                    {#                        </li>#}
                    {#                    </div>#}

                </div>
            </div>
        </div>
    </div>
</div>
<div class="recommend_book_container" id="recommend_book_container">
    <div class="recommend_nav">
        <span>YOUTUBE</span>
        <span>NEWS</span>
        <span>BOOK</span>
        <span>SHOPPING</span>
    </div>
    <div class="search_bar">
        <div class="search_icon"></div>
        <input type="text" placeholder="Search">
    </div>
    <div class="content_book_wrap">
        <div class="recommend_book_content">
            <p>추천 컨텐츠</p>
            <div class="content_book_section" id="book_recommend_content">
                <div class="recommend_spinner" style="display: flex;">
                    <div class="recommend_spinner_lorder"></div>
                </div>
                <!-- book 크롤링 결과 -->

            </div>
        </div>
        <div class="search_book_content">
            <p>검색</p>
            <div class="content_book_section">
                <div class="content_box">
                    <div class="book_img"></div>
                    <div class="more_icon"></div>
                    <div class="search_content_part">
                        <div class="toggle">
                            <p>공유하기</p>
                            <div class="line"></div>
                            <p>찜하기</p>
                        </div>
                        <div class="book_title">책제목</div>
                        <div class="book_write">저자</div>
                        <div class="book_price">가격</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="recommend_shopping_container" id="recommend_shopping_container">
    <div class="recommend_nav">
        <span>YOUTUBE</span>
        <span>NEWS</span>
        <span>BOOK</span>
        <span>SHOPPING</span>
    </div>
    <div class="search_bar">
        <div class="search_icon"></div>
        <input type="text" placeholder="Search">
    </div>
    <div class="content_wrap">
        <div class="recommend_content">
            <p>추천 컨텐츠</p>
            <div class="content_section" id="shopping_recommend_content">
                <div class="recommend_spinner" style="display: flex;">
                    <div class="recommend_spinner_lorder"></div>
                </div>
                <!-- Shopping 크롤링 결과-->
            </div>
        </div>
        <div class="search_content">
            <p>검색</p>
            <div class="content_section">
                <div class="recommend_shopping_search_row">
                    <div class="recommend_shopping_search_content">
                        <div class="more_icon" onclick="more_open_or_off(this.id)"></div>
                        <div class="toggle" style="display: none">
                            <p>공유하기</p>
                            <div class="line"></div>
                            <p>찜하기</p>
                        </div>
                        <div class="recommend_shopping_search_content_img" onclick="">
                            <img src="/static/images/70ad8c1c-7d9b-4dee-9317-6053e0359a60.jpg">
                        </div>

                        <div class="recommend_shopping_search_content_desc">
                            <div class="recommend_shopping_search_content_desc_bar"></div>
                            <div class="recommend_shopping_search_content_desc_title">
                                <p>타이니탄 다이너마이트 모니터 피규어</p>
                            </div>
                            <div class="recommend_shopping_search_content_desc_price">
                                <p>15,380</p>
                            </div>
                        </div>
                    </div>
                    <div class="recommend_shopping_search_content">
                        <div class="more_icon"></div>
                        <div class="toggle" style="display: none">
                            <p>공유하기</p>
                            <div class="line"></div>
                            <p>찜하기</p>
                        </div>
                        <div class="recommend_shopping_search_content_img" onclick="">
                            <img src="/static/images/70ad8c1c-7d9b-4dee-9317-6053e0359a60.jpg">
                        </div>

                        <div class="recommend_shopping_search_content_desc">
                            <div class="recommend_shopping_search_content_desc_bar"></div>
                            <div class="recommend_shopping_search_content_desc_title">
                                <p>타이니탄 다이너마이트 모니터 피규어</p>
                            </div>
                            <div class="recommend_shopping_search_content_desc_price">
                                <p>15,380</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

