<p class="title">채팅</p>
<div class="chat_list">
    <div class="chat_partner">
        <div class="partner_img"></div>
        <div class="info_group">
            <div class="partner_name">양금성</div>
            <div class="partner_last_msg">그그 목이 아프신 분들 중에서 입으로 검사해서 양성 나오신 분들도 계신다고 하는데 혹시 입? 목? 쪽으로 검사 해보셨을
                까요...??? 으아...........
                무리하지 마시구.........화이팅입니다........ㅠ
            </div>
        </div>
    </div>
    <div class="chat_partner">
        <div class="partner_img"></div>
        <div class="info_group">
            <div class="partner_name">양금성</div>
            <div class="partner_last_msg">S.A 공지사항에 올렸습니다.</div>
        </div>
    </div>
    <div class="chat_partner">
        <div class="partner_img"></div>
        <div class="info_group">
            <div class="partner_name">양금성</div>
            <div class="partner_last_msg">S.A 공지사항에 올렸습니다.</div>
        </div>
    </div>
    <div class="chat_partner">
        <div class="partner_img"></div>
        <div class="info_group">
            <div class="partner_name">양금성</div>
            <div class="partner_last_msg">S.A 공지사항에 올렸습니다.</div>
        </div>
    </div>
    <div class="chat_partner">
        <div class="partner_img"></div>
        <div class="info_group">
            <div class="partner_name">양금성</div>
            <div class="partner_last_msg">S.A 공지사항에 올렸습니다.</div>
        </div>
    </div>
    <div class="chat_partner">
        <div class="partner_img"></div>
        <div class="info_group">
            <div class="partner_name">양금성</div>
            <div class="partner_last_msg">그그 목이 아프신 분들 중에서 입으로 검사해서 양성 나오신 분들도 계신다고 하는데 혹시 입? 목? 쪽으로 검사 해보셨을
                까요...??? 으아...........
                무리하지 마시구.........화이팅입니다........ㅠ
            </div>
        </div>
    </div>
    <div class="chat_partner">
        <div class="partner_img"></div>
        <div class="info_group">
            <div class="partner_name">양금성</div>
            <div class="partner_last_msg">S.A 공지사항에 올렸습니다.</div>
        </div>
    </div>
    <div class="chat_partner">
        <div class="partner_img"></div>
        <div class="info_group">
            <div class="partner_name">양금성</div>
            <div class="partner_last_msg">S.A 공지사항에 올렸습니다.</div>
        </div>
    </div>
    <div class="chat_partner">
        <div class="partner_img"></div>
        <div class="info_group">
            <div class="partner_name">양금성</div>
            <div class="partner_last_msg">S.A 공지사항에 올렸습니다.</div>
        </div>
    </div>
    <div class="chat_partner">
        <div class="partner_img"></div>
        <div class="info_group">
            <div class="partner_name">양금성</div>
            <div class="partner_last_msg">S.A 공지사항에 올렸습니다.</div>
        </div>
    </div>
</div>