<div class="chat_start_msg" style="display:none;">
    <div class="chat_start_img"></div>
    <p>채팅방을 클릭하여 대화를 시작하세요.</p>
</div>
<div class="chat_container">
    <div class="top_bar">
        <div class="partner_info">
            <div class="partner_img"></div>
            <div class="info_group">
                <div class="partner_name">김코딩</div>
                <div class="partner_id">coding@example.com</div>
            </div>

        </div>
        <div class="toggle_icon" onclick="toggle_recommend()"></div>
        <div class="toggle_content" id="toggle_content" style="display: none">
            <p onclick="switch_chat()">추천컨텐츠</p>
            <div class="line"></div>
            <p >친구 찜 목록 보기</p>
        </div>
    </div>

    <div class="chat_box">
        <div class="user_to_partner"><p>ㅋㅋㅋㅋㅋㅋ
            52려 조하
            오늘은 더 회의가 없지요..?ㅠㅠ잠깐 나가볼 일이 생겨서 혹시라도 모일 일이 생기면
            저는...........
            음......................
            뒤를 믿고 갔다올게영!!</p></div>
        <div class="user_to_partner"><p>ㅋㅋㅋㅋㅋㅋ
            밥4조 여러분…ㅠ
            금요일 새벽부터 아이가 열이나고 아파서 토요일 아침에 키트 검사해봤더니 세균맨이 되었더라구요..(양성) 오늘 pcr 양성 확인문자 받았고, 남편도 어제는 키트 음성이었는데
            오늘아침엔 양성이 떠서 pcr 받고 왔는데 세균맨이 되버린것 같습니다…저만 음성이에요ㅋㅋㅋㅋㅋ</p></div>
        <div class="partner_to_user"><p>편히 다녀오세요~</p></div>
        <div class="partner_to_user"><p>어떡해요ㅠㅠㅠ 고생하시네요😢 진주님도 조심하시구 가족분들 쾌차하시기를...</p></div>
        <div class="partner_to_user"><p>아이고 그런일이...있으셨군요
            건강이 우선입니다! 무리하지 마시고
            빨리 가족분들 모두 쾌차했으면 좋겠습니다!!</p></div>
        <div class="partner_to_user"><p>진주님 컨디션은 어때요?
            혼자 음성이 뜰 수 가 있나..?</p></div>
        <div class="user_to_partner"><p>ㅋㅋㅋㅋㅋㅋ
            어린이집에서 애기가 걸렸었는데 몰랐나봐요 ㅠㅠ 확진자가 남일이 아니네요
            다들 조심하셔요 ㅠㅠ</p></div>
        <div class="partner_to_user"><p>ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
            무리는 하지 마시고
            진행사항 보면서
            제가 컨트롤 가능한 부분은 컨트롤 하겠습니다</p></div>
        <div class="user_to_partner"><p>일단 템플릿 작업은 제가 맡은데까지 끝낼수 있을것 같아요ㅎㅎ
            상황보고 말씀드릴께요!!</p></div>
        <div class="user_to_partner"><p>일단 템플릿 작업은 제가 맡은데까지 끝낼수 있을것 같아요ㅎㅎ
            상황보고 말씀드릴께요!!</p></div>
        <div class="user_to_partner"><p>ㅋㅋㅋㅋㅋㅋ
            밥4조 여러분…ㅠ
            금요일 새벽부터 아이가 열이나고 아파서 토요일 아침에 키트 검사해봤더니 세균맨이 되었더라구요..(양성) 오늘 pcr 양성 확인문자 받았고, 남편도 어제는 키트 음성이었는데
            오늘아침엔 양성이 떠서 pcr 받고 왔는데 세균맨이 되버린것 같습니다…저만 음성이에요ㅋㅋㅋㅋㅋ</p></div>
        <div class="partner_to_user"><p>아이고 그런일이...있으셨군요
            건강이 우선입니다! 무리하지 마시고
            빨리 가족분들 모두 쾌차했으면 좋겠습니다!!</p></div>
    </div>
    <div class="input_bar">
        <div class="attach_icon"></div>
        <input type="text" placeholder="입력하세요.">
    </div>
</div>