*{
    font-family: 'Roboto', sans-serif;
}
body{
    /*background-color: #A185F2;*/
    background:  rgba(161,133,242,1);
}

body::-webkit-scrollbar{
    width: 1.5vw;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb{
    background-color: #020167;
    border-radius: 1vw;
    border: 4px solid transparent;
    background-clip: padding-box;
}

body::-webkit-scrollbar-track{
    border-radius: 1.5vw;
}

.landing_header{
    position: absolute;
    width: 100%;
    height: 6vw;
    background-color: #7657CE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    animation: appear_header 1s ease-out;
}

.landing_header_left{
    margin-left: 2vw;
    width: 8vw;
    height: 3vw;
}
.landing_header_left img{
    width: 100%;
    height:100%;
}

.landing_header_right{
    color: white;
    font-size: 1vw;
    font-weight: 600;
    margin-right: 40px;
}

.landing_banner{
    position: relative;
    width: 100%;
    height: 90vh;
    background-image: url("/static/images/landing/banner1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    z-index:  0;
}

.landing_bottom_gradient_box{
    width: 100%;
    height: 45vh;
    position: absolute;
    top: calc(90vh - 45vh);
    z-index: 2;
    background: linear-gradient(0deg, rgba(161,133,242,1) 1%, rgba(255,255,255,0) 100%);
}


.landing_welcome_text{
    font-weight: 700;
    color : white;
    font-size: min(3vw, 60px);
    width: 100%;
    margin: 15% auto 0;
    text-align: center;
}

.landing_login_box{
    width: min(10vw, 300px);
    height: 2vw;
    border: 0.5vw solid white;
    border-radius: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin : 10vh auto 0;
    position: relative;
    cursor: pointer;
    z-index: 10;
}

.landing_login_box p{
    font-size: min(1vw, 20px);
    color: white;
    font-weight: 600;
}


.landing_login_allow{
    width: 10%;
    height: 10%;
    position : absolute;
    color : white;
    top : 0;
    left : 12.5vw;
}

.landing_sign_up_container{

    margin : 50px auto;
    text-align: center;
    font-size: min(1vw, 20px);
    color: white;
    cursor: pointer;
}

.landing_sign_up_container p{
    z-index: 10;
}

.landing_see_our_page{
    position: relative;
    margin: -50px auto 0;
    width : 5vw;
    max-width: 200px;
    height: 5vw;
    background-color: #020167;
    border-radius: 100px;
    border: 4px solid #7657CE;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 2;
    cursor: pointer;
}

.landing_all_content_container{
    position: relative;
    top:0;
    overflow: hidden;
}




/* row 관련 설정 & 첫 번째 row */

.landing_content_row{
    margin: 30vw auto 0;
    width: 80%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.landing_content_row_text_box{
    width: min(20vw, 300px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.landing_content_row_text_1{
    font-size: min(5vw, 100px);
    font-weight: 600;
    color: white;
    text-align: right;
    text-shadow: 10px 10px #474B50;

}

.landing_content_row_text_2{
    font-size: min(3vw, 60px);
    width: 100%;
    height: 210px;
    text-align: right;
    font-weight: 600;
    margin-top: 10px;
    text-shadow: 5px 5px 10px #474B50;

}

.landing_content_row_img{
    object-fit: cover;
    width: min(40vw, 900px);
    height: 30vw;
    max-height: 700px;
}


.landing_content_row_img img{
    width: 100%;
    height: 100%;
}




/* row2 에 대한 설정*/

.lading_content_row_2{
    position: relative;
    width: min(70vw, 1440px);
    margin-top: 25vw;
}

.landing_slide_name_bar{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: -2vw;
    left: 22vw;
    width: 15vw;
    font-size: 1vw;
    font-weight: 600;
    color: white;

}

.landing_content_row_2_img{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: min(40vw, 900px);
    height: 30vw;
}

.landing_content_row_2_img>img{
    width: 20vw;
}
.landing_interest_slide{
    width: 20vw;
    height: min(30vw, 700px);
    background-color: #0d55d9;
}

.landing_slide_next_button{
    position: absolute;
    top:calc(min(15vw, 350px) - min(2.5vh, 50px));
    left: min(42vw, 950px);
    width: min(5vw, 100px);
    height: min(5vw, 100px);
    background-image: url("/static/images/landing/landing_next_slide_button.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
}

.landing_slide_next_button:hover{
    transform: scale(1.1);
}

.landing_content_row_2_text_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 20%;
    height: 20vw;
    text-align: left;
}

.landing_content_row_2_text_1 , .landing_content_row_2_text_2{
    text-align: left;
}

.landing_content_row_2_text_1 {
    font-size: min(5vw, 80px);
    margin-top: 10%;
}


.landing_content_row_2_text_2{

}


/* row3에 대한 설정 */
.landing_content_row_3_wrapper{
    position: relative;
}


.landing_content_row_3{
    position: relative;
    background-color: white;
    width: 100%;
    height: 40vw;
    margin: 25vw auto;
    overflow: hidden;
}

.landing_content_row_3_title{
    font-size: min(2vw, 60px);
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 12vw;
    margin-left: 10vw;
    margin-top: 3vw;
}

.landing_content_row_bar{
    width: 0.5vw;
    height: 2vw;
    background-color: #7556CD;
}

.landing_content_row_3_content{
    width: 30vw;
    height: 30vw;
    margin: 2vw auto;
}

.landing_content_row_3_feature_box_row{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.landing_content_row_3_feature_box{
    width: 45%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing_content_row_3_feature_box img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.landing_content_row_3_feature_box p{
    font-size: 1.5vw;
    font-weight: 600;
    margin-top: 1vw;
}


/*row 4에 관한 설정*/
.landing_content_row_4_wrapper{
    position: relative;
    width: 100%;
}

.landing_content_row_4{
    width: 80vw;
    height: 40vw;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.landing_content_row_4_left{
    width: 40vw;
    height: 25vw;
    background-color: white;
    border: min(1vw, 3px) solid rgba(217,217,217,1) ;
}

.landing_content_row_4_left_mac_header{
    position: relative;
    width: 40vw;
    height: 3vw;
    background: linear-gradient(0deg, rgba(217,217,217,1) 0%, rgba(234,234,235,1) 100%);
}

.landing_content_row_4_mac_header_button_box{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1vw;
}

.landing_content_row_4_mac_header_button{
    width: 1vw;
    height:1vw;
    border-radius: 50%;
    background-color: #382C2C;
}

.landing_content_row_4_left_mac_body{
    width: 40vw;
    height: 20vw;;

}

.landing_content_row_4_mac_content_wrapper{

}

.landing_content_row_4_mac_content{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.landing_content_row_4_mac_content img{
    width: 10vw;
    height: 10vw;
}

.landing_content_row_4_next_button{
    left:33vw;
    top: calc(10vw - 2vw);
    z-index: 4;
    background-image:url("/static/images/landing/landing_next_slide_button_2.png");
}


.landing_content_row_4_right{
    width: 25vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.landing_content_row_4_title{
    width:11vw;
    margin-top: 0;
    margin-left: 0;
}

.landing_content_row_4_right> p{
    margin-top: 1vw;
    width: 100%;
    text-align: left;
    font-size: 2vw;
    font-weight: bold;
    color: white;
}

.landing_content_row_4_right_request_button{
    width: 15vw;
    height: 3vw;
    background-color: white;
    border-radius: 1.5vw;
    text-align: center;
    line-height:3vw;
    font-weight: 600;

    cursor: pointer;
}



/*  row 5에 대한 설정*/
.landing_content_row_5_wrapper{
    position: relative;
    width: 100%;
    background-color: #FAF9FF;
}

.landing_content_row_5{
    width: 70vw;
    height: 40vw;
    margin: 25vw auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
    font-size: 1.5vw;
}

.landing_content_row_5_col_1{
    width: 25vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;


}

.landing_content_row_5_col_1_title{
    width: 22vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
    font-size: 2vw;
}

.landing_content_row_5_col_1_profile_box{
    position: relative;
    width: 20vw;
    height: 15vw;
    margin: 0 auto 0;

}

.landing_content_row_5_col_1_profile_img{
    width: 9vw;
    height:  9vw;
    background-color: #3D3D3D;
    border-radius: 4.5vw;
    margin: 2vw auto 0;
    object-fit: cover;
}

.landing_content_row_5_col_1_profile_img img{
    width: 100%;
    height: 100%;
}


.landing_content_row_5_col_1_profile_name{
    position: absolute;
    top: 9vw;
    left: 12.5vw;


}
.landing_content_row_5_col_1_profile_function{
    width: 15vw;
    margin: 2vw auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.landing_content_row_5_col_1_profile_function img{
    width : 2vw;
    height: 2vw;

}

.landing_content_row_5_col_1_profile_bio{
    width: 20vw;
    height: 3vw;
    text-align: center;
    line-height: 3vw;
}



.landing_content_row_5_bar{
    width: 1vw;
    height: 80%;
    border-radius: 0.5vw;
    background-color: #A185F2;
}


.landing_content_row_5_col_2{
    width: 20vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}




/* 고래 이미지 설정! */

.landing_whale_1{
    position: absolute;
    width: 60vw;
    height: 25vw;
    top: 20vw;
    right:10vw;
    z-index: -1;
}

.landing_whale_1 img{
    width: 100%;
    height: 100%;
    filter: opacity(1) drop-shadow(0 0 0 white) brightness(1);
}

.landing_whale_2{
    position: absolute;
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    right: 10vw;
    top: 70vw;
}

.landing_whale_2 img{
    width: 100%;
    height: 100%;
}

.landing_whale_3{
    position: absolute;
    width: 8vw;
    height: 8vw;
    object-fit: cover;

    left: 2vw;
    top: -8vw;
}

.landing_whale_3 img{
    width: 100%;
    height: 100%;
}

.landing_whale_4{
    position: absolute;
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    right:1vw;
    top: -10vw;
}

.landing_whale_4 img{
    width: 100%;
    height: 100%;
}

.landing_whale_5{
    position: absolute;
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    left:5vw;
    top: calc(40vw - 17vw);
}

.landing_whale_5 img{
    width: 100%;
    height: 100%;
}

.landing_whale_6{
    position: absolute;
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    left:5vw;
    top: 35vw;
}

.landing_whale_6 img{
    width: 100%;
    height: 100%;
}

.landing_whale_7{
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    margin : 10vw auto 0;
}

.landing_whale_7 img{
    width: 100%;
    height: 100%;
}

/* footer 관련 */
.landing_footer{
    margin-top: 10vw;
    width: 100%;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    color: white;
    font-weight: bold;
}

.landing_footer_about_us{
    width: 20vw;
    height: 100%;
    text-align: left;
}

.landing_footer_about_us img{
    display: block;
    width: 10vw;
    height: 4vw;
    margin-top: 3vw;
    margin-bottom: 1vw;
}

.landing_footer_about_us p{
    margin-bottom: 1vw;
}

.landing_footer_developer_container{
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.landing_footer_developer_profile_box{
    width: 9vw;
    height: 12vw;
    position: relative;
}

.landing_footer_developer_profile_title{
    position: absolute;
    top:-3vw;
    left: 0;
}

.landing_footer_developer_profile{
    width:8vw;
    height: 8vw;
    background-color: #020167;
    border-radius: 4vw;
    margin:0 auto;
}

.landing_footer_developer_profile img{
    width: 100%;
    height: 100%;
}

.landing_footer_developer_name_box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1vw;
}
.landing_footer_developer_profile_github{
    width:2vw;
    height: 2vw;
}

.landing_footer_developer_name_box img{
    width: 100%;
    height: 100%;
}

/* animations */

@keyframes appear_header {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}

@keyframes disappear_header {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }

}