* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: -0.5px;
}

body {
    background-color: #FAF9FF;
    /*background:  rgba(161,133,242,1);*/
}

body::-webkit-scrollbar {
    height: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #A185F2;
}

body::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;

}

.landing_header {
    position: absolute;
    width: 100%;
    height: 4vw;
    /*background-color: rgba(0, 0, 0, .5);*/
    display: flex;
    flex-direction: column;
    z-index: 1;
    animation: appear_header 1s ease-out;
    align-items: flex-end;
}

.landing_header img {
    max-width: 6.4vw;
    width: 100%;
    margin: 14px 18px;
}

/*.landing_header_left {*/
/*    margin-left: 24px;*/
/*    width: 6.4vw;*/
/*}*/

/*.landing_header_left img {*/
/*    width: 100%;*/
/*}*/

/*.landing_header_right {*/
/*    color: white;*/
/*    margin-right: 24px;*/
/*    cursor: pointer;*/
/*}*/

.landing_banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/landing/algorithm_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    z-index: 0;
}

/*.landing_bottom_gradient_box {*/
/*    width: 100%;*/
/*    height: 45vh;*/
/*    position: absolute;*/
/*    top: calc(90vh - 45vh);*/
/*    z-index: 2;*/
/*    background: linear-gradient(0deg, rgba(161, 133, 242, 1) 1%, rgba(255, 255, 255, 0) 100%);*/
/*}*/


/*.landing_welcome_text {*/
/*    font-weight: 700;*/
/*    font-size: 50px;*/
/*    color: white;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    margin-top: 14px;*/
/*}*/

.landing_welcome_text {
    color: white;
    font-weight: 700;
    /*width: 500px;*/
    margin: 200px 0 30px 120px;
    line-height: 95px;
    font-size: 85px;
    text-align: left;
}

.landing_login_container {
    max-width: 200px;
    width: 100%;
    margin: 0 0 0 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.landing_login_box {
    width: min(10vw, 300px);
    height: 2vw;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*margin: 140px auto 0;*/
    /*position: relative;*/
    cursor: pointer;
    z-index: 10;
}

.landing_login_box p {
    font-size: min(1vw, 20px);
    color: #fff;
    font-weight: 600;
}


/*.landing_login_allow {*/
/*    width: 10%;*/
/*    height: 10%;*/
/*    position: absolute;*/
/*    color: white;*/
/*    top: 0;*/
/*    left: 12.5vw;*/
/*}*/

.landing_sign_up_container {
    /*width: 100%;*/
    display: flex;
    /*justify-content: center;*/
    margin: 20px auto;
    /*text-align: center;*/
    font-size: min(1vw, 20px);
    color: white;
}

.landing_sign_up_container p {
    z-index: 10;
    cursor: pointer;
}

.landing_sign_up_container p {
    z-index: 10;
}

.landing_see_our_page {
    position: fixed;
    bottom: 32px;
    right: 50%;
    width: 4vw;
    height: 4vw;
    background-color: #A185F2;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 2;
    cursor: pointer;
}

.landing_all_content_container {
    position: relative;
    top: 0;
    overflow: hidden;
}

/*.down_btn {*/
/*    width: 80px;*/
/*    height: 80px;*/
/*    background-color: #a185f2;*/
/*    border-radius: 100px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/


/* row 관련 설정 & 첫 번째 row */

.landing_content_row {
    box-sizing: border-box;
    padding: 100px 120px;
}

.lading_content_row_1 {
    /*margin: 50px auto 0;*/
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
    display: flex;
    border-bottom: 1px solid #e5e5e5;
}

.landing_content_row_text_box {
    /*width: min(20vw, 300px);*/
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    /*margin-left: 100px;*/
    /*padding-left: 50px;*/
}

.landing_content_row_text_1 {
    /*font-size: min(5vw, 120px);*/
    font-size: 72px;
    font-weight: 700;
    text-align: right;;
    color: #7657ce;
    /*text-shadow: 10px 10px #474B50;*/

}

.landing_content_row_text_2 {
    /*font-size: min(3vw, 60px);*/
    font-size: 40px;
    color: #191919;
    text-align: right;
    font-weight: 600;
    margin-top: 12px;
    line-height: 45px;
    /*text-shadow: 5px 5px 10px #474B50;*/

}

.landing_content_row_text_3 {
    /*font-size: min(3vw, 60px);*/
    font-size: 18px;
    color: #5e5e5e;
    width: 16vw;
    text-align: right;
    /*font-weight: 600;*/
    margin-top: 32px;
    line-height: 20px;
    /*text-shadow: 5px 5px 10px #474B50;*/

}

.landing_content_row_img {
    object-fit: cover;
    width: 40vw;
    height: 25vw;
    box-shadow: 10px 10px 25px 1px rgba(0, 0, 0, .15);
    margin-left: 80px;
}


.landing_content_row_img img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}


/* row2 에 대한 설정*/

.lading_content_row_2 {
    position: relative;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    /*margin: 150px auto 0;*/
    border-bottom: 1px solid #e5e5e5;
}

.landing_slide_name_bar {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: -2vw;
    left: 22vw;
    width: 15vw;
    font-size: 1vw;
    font-weight: 600;
    color: white;

}

.landing_content_row_2_img {
    position: relative;
    display: flex;
    align-items: center;
    object-fit: cover;
    width: 46vw;
    height: 24vw;
    box-shadow: 10px 10px 25px 1px rgb(0 0 0 / 15%);
    margin: 0;
}

.landing_content_row_2_img > img {
    width: 38%;
    position: relative;
    left: 0;
}

.landing_interest_slide {
    width: 100%;
    position: relative;
}

.landing_slide_next_button {
    position: absolute;
    top: 200px;
    right: 14px;
    width: min(3vw, 100px);
    height: min(3vw, 100px);
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/landing/landing_next_slide_button.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
}

.landing_slide_next_button:hover {
    transform: scale(1.1);
}

.landing_content_row_2_text_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /*width: 20%;*/
    /*height: 20vw;*/
    text-align: left;
    line-height: 30px;
    /*margin-left: 80px;*/
    /*padding-bottom: 150px;*/
    /*margin-bottom: 32px;*/
}

.landing_content_row_2_text_1, .landing_content_row_2_text_2 {
    text-align: left;
}

.landing_content_row_2_text_1 {
    /*font-size: min(5vw, 80px);*/
    margin-top: 40px;
    margin-bottom: 40px;
}


.landing_content_row_2_text_2 {

}

.landing_content_row_2_text_3 {
    text-align: left;
}

.landing_content_row_2_text_3:first-child {
    margin-bottom: 12px;
}

/* row3에 대한 설정 */
/*.landing_content_row_3_wrapper {*/
/*    position: relative;*/
/*}*/


.landing_content_row_3 {
    position: relative;
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*margin: 250px auto 0;*/
    /*overflow: hidden;*/
}

.landing_content_row_3_title {
    font-size: 18px;
    color: #5e5e5e;
    margin-top: 140px;
}

.landing_content_row_3_title .strong {
    font-size: 72px;
    font-weight: 700;
    color: #7657ce;
    margin-bottom: 24px;
}

.landing_content_row_3_title .sub {
    font-size: 24px;
    color: #191919;
}

.landing_content_row_3_title p:last-child {
    margin-top: 20px;
}

.landing_content_row_bar {
    width: 0.5vw;
    height: 2vw;
    background-color: #7556CD;
}

.landing_content_row_3_content {
    width: 30vw;
    height: 30vw;
    margin: 2vw auto;
}

.landing_content_row_3_feature_box_row {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.landing_content_row_3_feature_box {
    width: 45%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing_content_row_3_feature_box img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.landing_content_row_3_feature_box p {
    font-size: 1.5vw;
    font-weight: 600;
    margin-top: 1vw;
}


/*row 4에 관한 설정*/
.landing_content_row_4_wrapper {
    position: relative;
    width: 100%;
}

.landing_content_row_4 {
    width: 80%;
    height: 90vw;
    margin: 150px auto 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.landing_content_row_4_left {
    width: 38vw;
    height: 24vw;
    background-color: white;
    margin-top: 30px;
    margin-left: 120px;
    border: 2px solid rgba(217, 217, 217, 1);
}

.landing_content_row_4_left_mac_header {
    position: relative;
    width: 100%;
    height: 2.4vw;
    background: linear-gradient(0deg, rgba(217, 217, 217, 1) 0%, rgba(234, 234, 235, 1) 100%);
}

.landing_content_row_4_mac_header_button_box {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1vw;
}

.landing_content_row_4_mac_header_button {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: #382C2C;
}

.landing_content_row_4_left_mac_body {
    width: 100%;
    height: 85%;

}

.landing_content_row_4_mac_content_wrapper {

}

.landing_content_row_4_mac_content {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.landing_content_row_4_mac_content img {
    width: 10vw;
    height: 10vw;
}

.landing_content_row_4_next_button {
    top: 42%;
    right: 32px;
    z-index: 4;
    background-image: url("https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/landing/landing_next_slide_button_2.png");
}


.landing_content_row_4_right {
    width: 25vw;
    height: 25vw;
    /*margin-top: 30px;*/
    /*margin-left: 80px;*/
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: start;
}

.landing_content_row_4_title {
    width: 11vw;
    margin-top: 0;
    margin-left: 0;
}

.landing_content_row_4_right > p {
    margin-top: 1vw;
    width: 100%;
    text-align: left;
    font-size: 2vw;
    font-weight: bold;
    color: white;
}

.landing_content_row_4_right_request_button {
    width: 15vw;
    height: 3vw;
    background-color: white;
    border-radius: 1.5vw;
    text-align: center;
    line-height: 3vw;
    font-weight: 600;

    cursor: pointer;
}


/*  row 5에 대한 설정*/
.landing_content_row_5_wrapper {
    position: relative;
    width: 100%;
    background-color: #FAF9FF;
}

.landing_content_row_5 {
    width: 80%;
    height: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 1.5vw;
}

.landing_content_row_5_col_1 {
    width: 25vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;


}

.landing_content_row_5_col_1_title {
    width: 22vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
    font-size: 2vw;
}

.landing_content_row_5_col_1_profile_box {
    position: relative;
    width: 20vw;
    height: 15vw;
    margin: 0 auto 0;

}

.landing_content_row_5_col_1_profile_img {
    width: 9vw;
    height: 9vw;
    background-color: #3D3D3D;
    border-radius: 4.5vw;
    margin: 2vw auto 0;
    object-fit: cover;
}

.landing_content_row_5_col_1_profile_img img {
    width: 100%;
    height: 100%;
}


.landing_content_row_5_col_1_profile_name {
    position: absolute;
    top: 9vw;
    left: 12.5vw;


}

.landing_content_row_5_col_1_profile_function {
    width: 15vw;
    margin: 2vw auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.landing_content_row_5_col_1_profile_function img {
    width: 2vw;
    height: 2vw;

}

.landing_content_row_5_col_1_profile_bio {
    width: 20vw;
    height: 3vw;
    text-align: center;
    line-height: 3vw;
}


.landing_content_row_5_bar {
    width: 1vw;
    height: 80%;
    border-radius: 0.5vw;
    background-color: #A185F2;
}


.landing_content_row_5_col_2 {
    width: 20vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}


/* 고래 이미지 설정! */

.landing_whale_1 {
    position: absolute;
    width: 60vw;
    height: 25vw;
    top: 18vw;
    right: 10vw;
    z-index: -1;
}

.landing_whale_1 img {
    width: 100%;
    height: 100%;
    filter: opacity(1) drop-shadow(0 0 0 white) brightness(1);
}

.landing_whale_2 {
    position: absolute;
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    right: 10vw;
    top: 70vw;
}

.landing_whale_2 img {
    width: 100%;
    height: 100%;
}

.landing_whale_3 {
    position: absolute;
    width: 8vw;
    height: 8vw;
    object-fit: cover;

    left: 2vw;
    top: -8vw;
}

.landing_whale_3 img {
    width: 100%;
    height: 100%;
}

.landing_whale_4 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    right: 1vw;
    top: -10vw;
}

.landing_whale_4 img {
    width: 100%;
    height: 100%;
}

.landing_whale_5 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    left: 5vw;
    top: calc(40vw - 17vw);
}

.landing_whale_5 img {
    width: 100%;
    height: 100%;
}

.landing_whale_6 {
    position: absolute;
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    left: 5vw;
    top: 35vw;
}

.landing_whale_6 img {
    width: 100%;
    height: 100%;
}

.landing_whale_7 {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    margin: 0 auto;
}

.landing_whale_7 img {
    width: 100%;
    height: 100%;
}

/* footer 관련 */
.landing_footer {
    /*margin: 200px auto 20px;*/
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    /*justify-content: space-evenly;*/
    align-content: center;
    background-color: #a185f2;
    color: #fff;
}

.landing_footer_about_us {
    width: 20vw;
    height: 100%;
    margin-left: 120px;
    text-align: left;
    margin-top: 160px;
}

.landing_footer_about_us img {
    display: block;
    width: 10vw;
    height: 4vw;
    margin-top: 3vw;
    margin-bottom: 1vw;
}

.landing_footer_about_us p {
    margin-bottom: 1vw;
}

.landing_footer_about_us p strong {
    font-weight: 700;
}

.landing_footer_developer_container {
    width: 50vw;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.landing_footer_developer_profile_box {
    width: 9vw;
    height: 12vw;
    position: relative;
}

.landing_footer_developer_profile_title {
    position: absolute;
    top: -3vw;
    left: 0;
    font-size: 20px;
    font-weight: 500;
}

.landing_footer_developer_profile {
    width: 8vw;
    height: 8vw;
    background-color: #020167;
    border-radius: 50%;
    margin: 0 auto;
}

.landing_footer_developer_profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.landing_footer_developer_name_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    /*justify-content: space-evenly;*/
    align-items: center;
    margin-top: 1vw;
    position: relative;
}

.dev_info {
    display: flex;
    flex-direction: column;
    width: 120px;
    margin-left: 8px;
}

.dev_info p:first-child {
    font-weight: 700;
    margin-bottom: 6px;
}

.landing_footer_developer_profile_github {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 12px;
    bottom: 12px;
    z-index: 5;
}

.landing_footer_developer_profile_github img {
    object-fit: contain;
    object-position: center;
    width: 1.8vw;
}

.landing_footer_developer_name_box img {
    width: 100%;
    height: 100%;
}

/* animations */

@keyframes appear_header {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

@keyframes disappear_header {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }

}