<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- reset css cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <!-- jQuery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/chat/chat_room.css' %}">
    <!--google font-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap"
          rel="stylesheet">

</head>
<body>
<div class="outline">
    <div class="nav">
        <div class="logo">
            <div class="logo_img"></div>
        </div>
        <div class="icon_group">
            <div class="icon user_icon"></div>
            <div class="icon chat_icon"></div>
            <div class="icon mypage_icon"></div>
            <div class="logout">임시로그아웃</div>
        </div>
    </div>
    <div class="left_wrap">
        <p class="title">채팅</p>
        <div class="chat_list">
            {% for chat in chat_list %}
                <a href="/chat/{{ chat.id }}/" class="chat_partner">
                    <div class="partner_img"></div>
                    <div class="info_group">
                        <div class="partner_name">{{ chat.nickname }}</div>
                        <div class="partner_last_msg">{{ last_message }}</div>
                    </div>
                </a>
            {% endfor %}
        </div>

    </div>
    <div class="right_wrap">
        <div class="chat_start_msg">
            <div class="chat_start_img"></div>
            <p>채팅방을 클릭하여 대화를 시작하세요.</p>
        </div>
        <div class="chat_container">
            <div class="top_bar">
                <div class="partner_info">
                    <div class="partner_img"></div>
                    <div class="info_group">
                        <div class="partner_name">김코딩</div>
                        <div class="partner_id">coding@example.com</div>
                    </div>

                </div>
                <div class="toggle_icon"></div>
                <div class="toggle_content">
                    <p>추천컨텐츠</p>
                    <div class="line"></div>
                    <p>친구 찜 목록 보기</p>
                </div>
            </div>

            <div id="chat_box" class="chat_box">
                {#                채팅내용 들어가는 곳#}
            </div>
            <div class="input_bar">
                {% csrf_token %}
                <div id="chat_message_submit" class="attach_icon"></div>
                <input id="chat_message_input" type="text" placeholder="입력하세요." name="message">
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/chat/reconnecting-websocket.js' %}"></script>
<script>
    $(".logout").click(function () {
        location.replace("/accounts/logout");
    })


    const room_id = {{ room_id }};
    const user_id = {{ user_id }};
    const participant1 = {{ participant1 }};
    const participant2 = {{ participant2 }};

    {#웹소켓 연결 JS#}
    if (participant1 === user_id || participant2 === user_id) {
        const chatSocket = new ReconnectingWebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/room/'
            + room_id
            + '/'
        );

        {#최근메세지 가져오기#}
        {#기존에 열려있던 웹소켓에서는 가져오지 않도록 설정#}
        {#불가능하다면, 기존에 가져왔던 데이터를 지우고 새로 가져오도록 설정#}
        chatSocket.onopen = function (e) {

            fetchMessages();
        }

        {#consumer를 통해 나온 데이터의 형태에 따라 출력값이 달라짐#}
        {#fetch_messages를 통해 나온 이전 메세지는 반복문을 돌려주고#}
        {#new_message를 통해 나온 현재 작성한 메세지는 그대로 돌려준다.#}
        {#ChatMessage의 chatroom_id와 room_id가 일치하는 메세지만 보여준다#}
        {#message를 created_at의 순서대로 보여준다.#}
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if (data['command'] === 'messages') {
                const n = data['messages'].length
                for (let i=n-1; i >=0; i--) {
                    createMessage(data['messages'][i]);
                }
            } else if (data['command'] === 'new_message') {
                createMessage(data['message']);
            }
        };

        {#consumer에게 fetch_messages가 실행되도록 명령#}

        function fetchMessages() {
            chatSocket.send(JSON.stringify({'command': 'fetch_messages'}));
        }

        {#해당 input에 메세지를 작성하고 버튼을 클릭하면#}
        {#consumer에게 key:value 형태로 메세지를 넘겨준다.#}
        document.querySelector('#chat_message_submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat_message_input');
            const message = messageInputDom.value
            if (message === '') {
                alert('메세지를 입력해주세요.')
            } else {
                chatSocket.send(JSON.stringify({
                    'command': 'new_messages',
                    'message': message,
                    'from': user_id,
                    'room_id': room_id,
                }));
            }
            {#messageInputDom.value = '';#}
        };

        {#웹소켓 연결이 끊어졌을 때의 JS#}
        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

    } else {
        location.replace("/chat");
    }


    {#html에서 작성된 메세지를 보여주는 JS#}

    function createMessage(data) {
        const message = data['message'];
        const author = data['author'];
        const chatroom_id = data['chatroom_id']
        if (chatroom_id === room_id) {
            if (author === user_id) {
                let temp_html1 = `<div class='user_to_partner'>${message}</div>`
                $('#chat_box').append(temp_html1)
            } else {
                let temp_html2 = `<div class='partner_to_user'>${message}</div>`
                $('#chat_box').append(temp_html2)
            }
        } else {
            console.log('해당하는 메세지가 없습니다')
        }

    }


</script>
</body>
</html>