<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:url" content="https://alaltalk.com">
    <meta property="og:title" content="알알톡">
    <meta property="og:image"
          content="https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/alaltalk_og_img_purple.jpg">
    <meta property="og:description" content="알고리즘으로 알아보는 대화"/>
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <link rel="shortcut icon" href="https://alaltalk.s3.ap-northeast-2.amazonaws.com/images/alaltalk_favicon.ico">
    <title>알알톡</title>

    <!-- reset css cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <!-- jQuery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/chat/chat_room.css' %}?after">
    <!--google font-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap"
          rel="stylesheet">
    <style>
        .right_wrap .chat_start_msg {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            color: #5e5e5e;
        }
    </style>
</head>
<body>
<div class="outline">
    <div class="nav">
        <div class="logo">
            <div class="logo_img"></div>
        </div>
        <div class="icon_group">
            <div class="icon user_icon"></div>
            <div class="icon chat_icon"></div>
            <div class="icon mypage_icon"></div>
        </div>
    </div>
    <div class="left_wrap">
        <p class="title">채팅</p>
        <div class="chat_list">
            {% for chatroom in chatroom_list %}
                {% if chatroom.participant1.id == user.id %}
                    <a href="/chat/{{ chatroom.participant2.id }}/" class="chat_partner chat_partner_{{ chatroom.id }} chat_partner_{{ chatroom.participant2.id }}">
                        <div class="partner_img"
                             style="background-image: url({{ chatroom.participant2.img.url }})"></div>
                        <div class="info_group">
                            <div class="partner_name">{{ chatroom.participant2.nickname }}</div>
                            {#chatroom.id로 필터링 된 메세지의 맨 마지막 메세지 가져오기#}
                            {#                                {% for message in all_message %}#}
                            {#                                    {% if chatroom.id == message.chatroom_id %}#}
                            {#                                        <div class="partner_last_msg">{{ message.message}}</div>#}
                            {#                                    {% endif %}#}
                            {#                                {% endfor %}#}
                        </div>
                    </a>
                {% else %}
                    <a href="/chat/{{ chatroom.participant1.id }}/" class="chat_partner chat_partner_{{ chatroom.id }} chat_partner_{{ chatroom.participant1.id }}">
                        <div class="partner_img"
                             style="background-image: url({{ chatroom.participant1.img.url }})"></div>
                        <div class="info_group">
                            <div class="partner_name">{{ chatroom.participant1.nickname }}</div>
                            {#                                {% for message in all_message %}#}
                            {#                                    {% if chatroom.id == message.chatroom_id %}#}
                            {#                                        <div class="partner_last_msg">{{ message.message }}</div>#}
                            {#                                    {% endif %}#}
                            {#                                {% endfor %}#}
                        </div>
                    </a>
                {% endif %}
                {#                {% endfor %}#}
            {% endfor %}
        </div>

    </div>
    <div class="right_wrap">
        <div class="chat_start_msg">
            <div class="chat_start_img"></div>
            <p>채팅방을 클릭하여 대화를 시작하세요.</p>
        </div>
    </div>
</div>
<script src="{% static 'js/chat/reconnecting-websocket.js' %}"></script>
<script>

    $(document).ready(function () {
        {#lastMessageList();#}
        latestMessageNotConnected();

        // 채팅 스크롤 하단 고정
        var scrollDown = $('#chat_box').prop('scrollHeight');
        $('#chat_box').scrollTop(scrollDown);

        // 친구 리스트 이동
        let friendListIcon = $(".user_icon");
        friendListIcon.on('click', function () {
            window.location.href = `/accounts/friends/`;
        });

        // 마이페이지 이동
        let myPageIcon = $(".mypage_icon");
        myPageIcon.on('click', function () {
            window.location.href = `/accounts/mypage/`;
        });

        // 채팅 이동
        let ChatIcon = $(".chat_icon");
        ChatIcon.on('click', function () {
            window.location.href = `/chat/`;
        })
    });

    $(".logout").click(function () {
        location.replace("/accounts/logout");
    })


</script>
<script src="{% static 'js/chat/chat_room.js' %}?after"></script>
<script src="{% static 'js/search/recommend_like.js' %}" type="text/javascript"></script>

</body>
</html>