<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- reset css cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css%22%3E">
    <!-- jQuery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js%22%3E"></script>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/search/recommend.css">

</head>
<body>
<div class="outline">
    <div class="nav">
        <div class="logo"><div class="logo_img"></div></div>
        <div class="icon_group">
            <div class="icon user_icon"></div>
            <div class="icon chat_icon"></div>
            <div class="icon mypage_icon"></div>
        </div>
    </div>
    <div class="left_wrap">
        
    </div>

    <div class="right_wrap">
        {% include 'search/recommend_include.html' %}
    </div>
</div>
<script src="/static/js/search/recommend.js"></script>
</body>
</html>
