<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>welcome to AlAlTalk</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/landing/no.css' %}?after">
    <link rel="stylesheet" href="{% static 'css/landing/landing.css' %}?after">
    <script src="https://kit.fontawesome.com/97ea407338.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div class="landing_header" id="landing_header">
    <img src="{% static 'images/landing/landing_logo.png' %}">
</div>
<div class="landing_banner">
    <div class="landing_bottom_gradient_box"></div>
    <p class="landing_welcome_text">알고리즘으로<br>알아보는<br>톡</p>
    <div class="landing_login_container">
        <div class="landing_login_box" onclick="location.href='accounts/login'">
            <p>로그인 하기</p>
        </div>

        <div class="landing_sign_up_container">
            <p onclick="location.href='accounts/signup'"><u>알알톡이 처음이세요?</u></p>
        </div>
    </div>
</div>
<div class="landing_see_our_page" id="landing_see_our_page" onclick="see_our_page()">
    <i class="fa-solid fa-angle-down fa-2x down_btn"></i>
</div>

<div class="landing_all_content_container">
    <div class="landing_content_row lading_content_row_1" id="landing_row_1">
        <div class="landing_content_row_text_box">
            <p class="landing_content_row_text_1">Just</p>
            <p class="landing_content_row_text_2">Chatting <br>with <br>Friend!</p>
            <p class="landing_content_row_text_3">친구들과<br>실시간 채팅을 즐겨보세요.</p>
        </div>
        <div class="landing_content_row_img">
            <img src="{% static 'images/landing/chat_page.png' %}">
        </div>
    </div>


    <div class="landing_content_row lading_content_row_2" id="landing_row_2">
        <div class="landing_content_row_img landing_content_row_2_img">
            <img src="{% static 'images/landing/left_chat.png' %}">
            <div class="swiper landing_interest_slide">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="{% static 'images/landing/youtube.png' %}">
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'images/landing/news.png' %}">
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'images/landing/book.png' %}">
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'images/landing/shopping.png' %}">
                    </div>
                </div>
            </div>
            <div class="landing_slide_next_button"></div>
        </div>
        <div class="landing_content_row_text_box landing_content_row_2_text_box">
            <p class="landing_content_row_text_2 landing_content_row_2_text_2">Then <br>We find your</p>
            <p class="landing_content_row_text_1 landing_content_row_2_text_1">Interest!</p>
            <p class="landing_content_row_text_3 landing_content_row_2_text_3">채팅로그를 기반으로<br>알알톡이 맞춤 정보를 추천해줘요.</p>
            <p class="landing_content_row_text_3 landing_content_row_2_text_3">다른 페이지로 이탈하지 않고도<br>원하는 정보를 검색할 수 있어요.
            </p>
        </div>
    </div>

    <div class="landing_content_row landing_content_row_3" id="landing_row_3">
        <div class="landing_content_row_4_left">
            <div class="landing_content_row_4_left_mac_header">
                <div class="landing_content_row_4_mac_header_button_box">
                    <div class="landing_content_row_4_mac_header_button" style="background-color:#FA8F4C "></div>
                    <div class="landing_content_row_4_mac_header_button" style="background-color:#FA8F4C "></div>
                    <div class="landing_content_row_4_mac_header_button" style="background-color:#2EC66B "></div>
                </div>
            </div>
            <div class="swiper landing_content_row_4_left_mac_body">
                <div class="swiper-wrapper landing_content_row_4_mac_content_wrapper">
                    <div class="swiper-slide landing_content_row_4_mac_content">
                        <img src="{% static 'images/landing/logos/landing_info_youtube.png' %}">
                    </div>
                    <div class="swiper-slide landing_content_row_4_mac_content">
                        <img src="{% static 'images/landing/logos/landing_info_naver.png' %}">
                    </div>
                    <div class="swiper-slide landing_content_row_4_mac_content">
                        <img style="width: 20vw" src="{% static 'images/landing/logos/landing_info_kyobo.png' %} ">
                    </div>
                    <div class="swiper-slide landing_content_row_4_mac_content">
                        <img style="width: 20vw" src="{% static 'images/landing/logos/landing_info_coupang.png' %}">
                    </div>
                </div>
                <div class="landing_slide_next_button landing_content_row_4_next_button"></div>
            </div>
        </div>
        <div class="landing_content_row_4_right">
            <div class="landing_content_row_3_title">
                <p class="strong">Info<br>From</p>
                <p class="sub">
                    The information we provide is crawled<br>
                    and used on the following sites.<br>
                </p>
                <p>
                    사이트를 이탈해서 사용해야하는<br>
                    유튜브, 네이버, 교보문고, 쿠팡의 정보를<br>
                    알알톡이 제공해줘요.<br>
                </p>
            </div>
        </div>
    </div>

    <div class="landing_content_row landing_footer" id="landing_row_4">
        <div class="landing_footer_about_us">
            <img src="{% static 'images/landing/landing_logo.png' %}">
            <p>알고리즘으로 알아보는 TALK</p>
            <p>© 2022 밥4조</p>
        </div>
        <div class="landing_footer_developer_container">
            <div class="landing_footer_developer_profile_box">
                <div class="landing_footer_developer_profile_title">
                    <p>Developers</p>
                </div>
                <div class="landing_footer_developer_profile">
                    <img src="{% static 'images/landing/developer/landing_developer_앙금성.png' %}">

                </div>
                <div class="landing_footer_developer_profile_github">
                    <img src="{% static 'images/landing/icons/landing_github.png' %}">
                </div>
                <div class="landing_footer_developer_name_box">
                    <div class="dev_info">
                        <p>앙금성</p>
                        <p>user function</p>
                    </div>
                </div>
            </div>
            <div class="landing_footer_developer_profile_box">
                <div class="landing_footer_developer_profile">
                    <img src="{% static 'images/landing/developer/landing_developer_김진주.png' %}">
                </div>
                <div class="landing_footer_developer_profile_github">
                    <img src=" {% static 'images/landing/icons/landing_github.png' %}">
                </div>
                <div class="landing_footer_developer_name_box">
                    <div class="dev_info">
                        <p>김진주</p>
                        <p>chat function</p>
                    </div>
                </div>
            </div>
            <div class="landing_footer_developer_profile_box">
                <div class="landing_footer_developer_profile">
                    <img src="{% static 'images/landing/developer/landing_developer_김재성.png' %}">

                </div>
                <div class="landing_footer_developer_profile_github">
                    <img src="{% static 'images/landing/icons/landing_github.png' %}">
                </div>
                <div class="landing_footer_developer_name_box">
                    <div class="dev_info">
                        <p>김재성</p>
                        <p>search function</p>
                    </div>
                </div>
            </div>
            <div class="landing_footer_developer_profile_box">
                <div class="landing_footer_developer_profile">
                    <img src="{% static 'images/landing/developer/landing_developer_윤소현.png' %}">

                </div>
                <div class="landing_footer_developer_profile_github">
                    <img src="{% static 'images/landing/icons/landing_github.png' %}">
                </div>
                <div class="landing_footer_developer_name_box">
                    <div class="dev_info">
                        <p>윤소현</p>
                        <p>recommend function</p>
                    </div>
                </div>
            </div>
            <div class="landing_footer_developer_profile_box">
                <div class="landing_footer_developer_profile">
                    <img src="{% static 'images/landing/developer/landing_developer_선하진.png' %}">

                </div>
                <div class="landing_footer_developer_profile_github">
                    <img src="{% static 'images/landing/icons/landing_github.png' %}">
                </div>
                <div class="landing_footer_developer_name_box">
                    <div class="dev_info">
                        <p>선하진</p>
                        <p>search function</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/landing/landing.js' %}"></script>
</body>

</html>